body{
    background: url(../../static/img/backgroud.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    min-height: 100vh;
    flex-direction: column;
}


::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #fff;
}

::-webkit-scrollbar{
	width: 6px;
	background-color: #fff;
}

::-webkit-scrollbar-thumb{
	background-color: #0d47a1;
}


main {
    flex: 1 0 auto;
}

header, main, footer {
    padding-left: 300px;
}

@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }
}

.btn-add-new {
  position: fixed;
  bottom: 40px;
  right: 30px;
}

.discover-new-small {
  position: fixed;
  bottom: 10px;
  right: 0px;
  width:116px !important;
  height:116px !important;
  z-index: -1
}

.discover-new {
  position: fixed;
  bottom: -360px;
  right: -370px;
  width:800px !important;
  height:800px !important;
  padding: 150px 400px 500px 100px;
  z-index: -1
}

.collapsible-body{
        background-color: #fff;
}

.menu-collapsible ul > li{
    padding-left: 20px !important;
}

.nopadding{
    padding:0px;
}

.padding-right{
    padding-right:7px
}

.fa-padding{
    padding-right: 5px;
    margin:0px !important;
}
.fa-stroke{
    text-stroke-width: 1px;
    text-stroke-colorh: 1px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #039be5;
    color: transparent;
}

.title{
    top: 10px;
    position: absolute;
    text-align: center;
    left: 300px;
    right: 0px;
    color: #fff;
    display: inline-block;
    font-size: 2.1rem;
    padding: 0;
    white-space: nowrap;
}
@media only screen and (max-width : 992px) {
    .title {
        left: 0px;
    }
}

@font-face{
    font-family: "jobowlFont";
    src: url(/static/stylesheets/fonts/Scribbled-Regular.otf) format("opentype");
}
@font-face{
    font-family: "barnowlFont";
    src: url(/static/stylesheets/fonts/Barn-Owl.ttf) format("truetype");
}
.jobowl{
    font-family: "jobowlFont", Verdana, Tahoma;
    font-size:200px;
    color: #fff;
    text-shadow: 5px 15px rgba(0, 0, 0, 0.26);
}
.jobowl_nav{
    margin-top: -50px;
    position: absolute;
    text-align: center;
    font-family: "jobowlFont", Verdana, Tahoma;
    color: #fff;
    font-size: 50px;
    left: 0px;
    right: 0px;
}

.collection {
  overflow: visible;
}



#loading-backgroud {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: gray;
    position: fixed;
    opacity: 0.4;
    z-index: 10000;
}

#loading-modal {
    z-index: 10001;
    background-color: #fff;
    position: fixed;

    width: 200px;
    height: 150px;
    top: 50%;
    left: 50%;
    margin-top: -75px;
    margin-left: -100px;
    padding:2px;
    color: #337ab7
}

#loading-border{
    width: 100%;
    height: 100%;
    border: 2px;
    border-color: #337ab7;
    border-style: solid;
    padding: 13px;
}

#snackbar-container {
    position: fixed;
    right: 20px;
    left:auto;
    bottom: 0;
    z-index: 99999;
}

.rating-star{
    padding-left: 7px;
    cursor: pointer;
}

.prio-lightning{
    padding-left: 0px;
    cursor: pointer;
    margin-right: 0px !important;
}

.btn{
    min-width: 75px;
}

.bold{
    font-weight: bold;
}

.tablet-frame{
    border-style: solid;
    border-width: 30px 10px 40px 10px;
    border-radius: 30px;
}

.tablet-frame > img{
    width:100%;
    margin-bottom: -6px;
}

.help-menu{
    position:fixed;
    right:0px;
    margin-top: 7.5px;
    width:160px;
}

.help-content{
    margin-right:200px !important;
}

.error-toast{
    background-color: #c62828;
    font-weight: bold;
}

.pointer{
    cursor: pointer;
}

.home-section{
    padding-top: 5rem;
    padding-bottom: 5rem;
}