<header x-ng-if="vm.login">
<ul id="slide-out" class="side-nav fixed">
    <li>
        <div class="userView">
            <div class="background light-blue darken-1" >
                <img src="../static/img/background-menu.jpg">
            </div>
            <a href="/{{vm.lang}}/tracks">
                <center>
                    <img class="center-align" src="../static/img/logo.png">
                    <h5 class="jobowl_nav">jobowl</h5>
                </center>
            </a>
        </div>
    </li>
    <li><a class="waves-effect" href="/{{vm.lang}}/tracks"><i class="fa fa-clock-o fa-padding" aria-hidden="true"></i>{{'kind.track' |i18n}}</a></li>
    <li><a class="waves-effect" href="/{{vm.lang}}/todo"><i class="fa fa-check-square-o fa-padding" aria-hidden="true"></i>{{'kind.todo' |i18n}}</a></li>
    <ul class="collapsible" data-collapsible="accordion">
        <li>
            <a class="collapsible-header">
                <i class="fa fa-angle-down" aria-hidden="true"></i>
                <i class="fa fa-line-chart fa-padding" aria-hidden="true" style="font-size: 14px"></i>
                {{'kind.report' |i18n}}
            </a>
            <div class="collapsible-body menu-collapsible">
                <ul>
                    <li><a href="/{{vm.lang}}/log/stats"><i class="fa fa-pie-chart fa-padding" aria-hidden="true"></i>{{'kind.statslog' |i18n}}</a></li>
                    <li><a href="/{{vm.lang}}/log/days"><i class="fa fa-calendar fa-padding" aria-hidden="true"></i>{{'kind.daylog' |i18n}}</a></li>
                    <li><a href="/{{vm.lang}}/log/tracks"><i class="fa fa-tasks fa-padding" aria-hidden="true"></i>{{'kind.tracklog' |i18n}}</a></li>
                    <li><a href="/{{vm.lang}}/logproject"><i class="fa fa-sticky-note fa-padding" aria-hidden="true"></i>{{'kind.projects' |i18n}}</a></li>
                </ul>
            </div>
        </li>
        <li>
            <a class="collapsible-header">
                <i class="fa fa-angle-down" aria-hidden="true"></i>
                <i class="fa fa-pencil-square-o fa-padding" aria-hidden="true" style="font-size: 14px"></i>
                {{'kind.manage' |i18n}}
            </a>
            <div class="collapsible-body menu-collapsible">
                <ul>
                    <li><a href="/{{vm.lang}}/employers"><i class="fa fa-university fa-padding" aria-hidden="true"></i>{{'kind.employers' |i18n}}</a></li>
                    <li><a href="/{{vm.lang}}/projects"><i class="fa fa-sticky-note fa-padding" aria-hidden="true"></i>{{'kind.projects' |i18n}}</a></li>
                    <li><a href="/{{vm.lang}}/tasks"><i class="fa fa-tasks fa-padding" aria-hidden="true"></i>{{'kind.tasks' |i18n}}</a></li>
                    <li><a href="/{{vm.lang}}/clients"><i class="fa fa-user fa-padding" aria-hidden="true"></i>{{'kind.clients' |i18n}}</a></li>
                </ul>
            </div>
        </li>
    </ul>
    <li><div class="divider"></div></li>
    <li><a href="/{{vm.lang}}/profile"><i class="fa fa-id-card-o fa-padding" aria-hidden="true"></i>{{'kind.profile' |i18n}}</a></li>
    <li><a class="waves-effect" href="/{{vm.lang}}/help"><i class="fa fa-question-circle-o fa-padding" aria-hidden="true"></i>{{'kind.help' |i18n}}</a></li>
    <li><a href="javascript:void(0)" ng-click="vm.logout()"><i class="fa fa-sign-out fa-padding" aria-hidden="true"></i>{{'kind.logout' |i18n}}</a></li>
</ul>
<nav class="top-nav">
    <div class="nav-wrapper light-blue darken-4">
        <ul class="left">
            <li >
                <a href="#" data-activates="slide-out" class="button-collapse" data-sidenav="left" data-menuwidth="300" data-closeonclick="false">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </a>
            </li>
        </ul>
    </div>
</nav>
</header>

<ul id="dropdown1" class="dropdown-content">
  <li><a href="/pl/">PL</a></li>
  <li><a href="/en/">EN</a></li>
</ul>
<nav x-ng-if="!vm.login">
    <div class="nav-wrapper light-blue darken-4">
        <ul class="hide-on-med-and-down">
            <li><a href="/{{vm.lang}}/">{{'kind.home' |i18n}}</a></li>
            <li><a href="/{{vm.lang}}/#features">{{'kind.features' |i18n}}</a></li>
            <!--<li><a class="dropdown-button" href="#!" data-activates="dropdown1">-->
                <!--{% trans "Language" %}-->
                <!--<i class="fa fa-caret-down" aria-hidden="true"></i></a>-->
            <!--</li>-->
        </ul>
        <!--<a href="#" class="brand-logo center">JobOWL</a>-->
        <ul class="right hide-on-med-and-down">
            <li><a href="/{{vm.lang}}/login">{{'field.login' |i18n}}</a></li>
            <li><a href="/{{vm.lang}}/register">{{'field.register' |i18n}}</a></li>
        </ul>
    </div>
</nav>