<header class="title"><i class="fa fa-question-circle-o fa-padding" aria-hidden="true"></i>{{'kind.help'|i18n}}</header>

<div class="row">
    <div class="col s12 m9 l10 white">
        <div id="{{section.name}}" class="collection-item section scrollspy" x-ng-repeat="section in vm.menu">
            <h5 class="center">{{section.i18n|i18n}}</h5>
            <div class="row">
                <div class="col s6">
                    <div class="tablet-frame">
                        <video class="responsive-video" ng-src="{{'../../static/img/help/' + section.video + '.mp4' | trustUrl}}" controls></video>
                    </div>
                </div>
                <div class="col s6">
                    <p>{{section.desc|i18n}}</p>

                    <ul>
                        <li ng-repeat="n in vm.getList(section.desc)">
                            <i class="fa fa-dot-circle-o" aria-hidden="true"></i>
                            <span ng-bind-html="n | trust"></span>
                        </li>
                    </ul>
                </div>
            </div>
            <hr>
        </div>
    </div>
    <div class="col hide-on-small-only m3 l2">
        <ul class="section table-of-contents help-menu white">
            <li  x-ng-repeat="section in vm.menu">
                <a href="#{{section.name}}">{{section.i18n|i18n}}</a>
            </li>
        </ul>
    </div>
</div>
