<header class="title"><i class="fa fa-clock-o fa-padding" aria-hidden="true"></i>{{'kind.track'|i18n}}</header>

<ul class="collection">
    <li class="collection-item row" x-ng-class="{'red lighten-5': vm.day.date.getDay()==6, 'red lighten-4': vm.day.date.getDay()==0 || vm.day.hollyday, 'green lighten-4': vm.day.freeday}">
        <div class="col m3 hide-on-small-only left-align" x-ng-click="vm.prevDay()">
            <a class="waves-effect waves-light btn blue"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
        </div>
        <div class="col m6 s12 center-align">
            <!--<h5>{{vm.day.date | date : "yyyy-MM-dd"}}</h5>-->
            <input input-date style="font-size: 30px; text-align: center;"
                type="text"
                ng-model="vm.day.date"
                format="yyyy-mm-dd"
                months-full="{{ vm.locale.STANDALONEMONTH }}"
                months-short="{{ vm.locale.SHORTMONTH }}"
                weekdays-full="{{ vm.locale.DAY }}"
                weekdays-short="{{ vm.locale.SHORTDAY }}"
                weekdays-letter="{{ vm.locale.WEEKDAYSLETTER }}"
                disable="disable"
                today="today"
                first-day="1"
                clear="clear"
                close="close"
                on-close="vm.setDay()"/>
        </div>
        <div class="col m3 hide-on-small-only right-align" x-ng-click="vm.nextDay()">
            <a class="waves-effect waves-light btn blue"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
        </div>
    </li>
    <li class="collection-item row">
        <div class="col l2 m6 s12">
            <input type="checkbox" id="freeday" ng-model="vm.day.freeday" x-ng-click="vm.updateDay()"/>
            <label for="freeday">{{'field.day.freeday' | i18n }}</label>
        </div>
        <div class="col l2 m6 s12">
            <input type="checkbox" id="hollyday" ng-model="vm.day.hollyday" x-ng-click="vm.updateDay()"/>
            <label for="hollyday">{{'field.day.hollyday' | i18n }}</label>
        </div>
        <div class="col l4 m6 s12">
            <label>{{'field.day.workdDegree' | i18n }}:</label>
            <div class="right blue-text">
                <a tooltipped data-position="bottom" data-delay="50" data-html=true" data-tooltip="{{'field.day.workdDegree.1' | i18n}}">
                    <i class="fa fa-star fa-lg rating-star" aria-hidden="true" ng-class="{'fa-star-o': vm.day.workDegree<1}" ng-click="vm.day.workDegree=1; vm.updateDay()"></i>
                </a>
                <a tooltipped data-position="bottom" data-delay="50" data-html=true" data-tooltip="{{'field.day.workdDegree.2' | i18n}}">
                    <i class="fa fa-star fa-lg rating-star" aria-hidden="true" ng-class="{'fa-star-o': vm.day.workDegree<2}" ng-click="vm.day.workDegree=2; vm.updateDay()"></i>
                </a>
                <a tooltipped data-position="bottom" data-delay="50" data-html=true" data-tooltip="{{'field.day.workdDegree.3' | i18n}}">
                    <i class="fa fa-star fa-lg rating-star" aria-hidden="true" ng-class="{'fa-star-o': vm.day.workDegree<3}" ng-click="vm.day.workDegree=3; vm.updateDay()"></i>
                </a>
                <i class="fa fa-remove fa-lg rating-star grey-text" aria-hidden="true" ng-click="vm.day.workDegree=0; vm.updateDay()"></i>
            </div>
            <br/>
            <i>{{'field.day.workdDegree.' + vm.day.workDegree | i18n}}</i>
        </div>
        <div class="col l4 m6 s12">
            <label>{{'field.day.dayDegree' | i18n }}:</label>
            <div class="right blue-text">
                <a tooltipped data-position="bottom" data-delay="50" data-html=true" data-tooltip="{{'field.day.dayDegree.1' | i18n}}">
                    <i class="fa fa-star fa-lg rating-star" aria-hidden="true" ng-class="{'fa-star-o': vm.day.dayDegree<1}" ng-click="vm.day.dayDegree=1; vm.updateDay()"></i>
                </a>
                <a tooltipped data-position="bottom" data-delay="50" data-html=true" data-tooltip="{{'field.day.dayDegree.2' | i18n}}">
                    <i class="fa fa-star fa-lg rating-star" aria-hidden="true" ng-class="{'fa-star-o': vm.day.dayDegree<2}" ng-click="vm.day.dayDegree=2; vm.updateDay()"></i>
                </a>
                <a tooltipped data-position="bottom" data-delay="50" data-html=true" data-tooltip="{{'field.day.dayDegree.3' | i18n}}">
                    <i class="fa fa-star fa-lg rating-star" aria-hidden="true" ng-class="{'fa-star-o': vm.day.dayDegree<3}" ng-click="vm.day.dayDegree=3; vm.updateDay()"></i>
                </a>
                <i class="fa fa-remove fa-lg rating-star grey-text" aria-hidden="true" ng-click="vm.day.dayDegree=0; vm.updateDay()"></i>
            </div>
            <br/>
            <i>{{'field.day.dayDegree.' + vm.day.dayDegree | i18n}}</i>
        </div>
    </li>
</ul>

<ul class="collection" style="margin-bottom: 100px">
    <li class="collection-item row" x-ng-repeat="track in vm.day.track_set | orderBy :'started_at'">
        <div class="col s5">
            <a class="padding-right" x-ng-if="track.employer" tooltipped="{{!!track.employer.descr}}" data-position="bottom" data-delay="50" data-html=true" data-tooltip="{{track.employer.descr}}">
                <i class="fa fa-university fa-padding grey-text" aria-hidden="true"></i>{{track.employer.name}}
            </a>
            <a class="padding-right" x-ng-if="track.project" tooltipped="{{!!track.project.descr}}" data-position="bottom" data-delay="50" data-html=true" data-tooltip="{{track.project.descr}}">
                <i class="fa fa-sticky-note fa-padding grey-text" aria-hidden="true"></i>{{track.project.name}}
            </a>
            <a class="padding-right" x-ng-if="track.task" tooltipped="{{!!track.task.descr}}" data-position="bottom" data-delay="50" data-html=true" data-tooltip="{{track.task.descr}}">
                <i class="fa fa-tasks fa-padding grey-text " aria-hidden="true"></i>{{track.task.name}}
            </a>
            <a class="padding-right" x-ng-if="track.client" tooltipped="{{!!track.client.descr}}" data-position="bottom" data-delay="50" data-html=true" data-tooltip="{{track.client.descr}}">
                <i class="fa fa-user fa-padding grey-text" aria-hidden="true"></i>{{track.client.name}}
            </a>
            <br/>
            <div class="truncate">{{track.descr}}</div>
        </div>
        <div class="col s3">
            <i class="fa fa-clock-o" aria-hidden="true"></i>
            <strong><ceneter>{{vm.getDiff(track.stoped_at, track.started_at) | amUtc | amDateFormat: "HH:mm:ss"}}</ceneter></strong><br/>
            {{track.started_at | date : "HH:mm"}} - {{track.stoped_at | date : "HH:mm"}}
        </div>
        <div class="col s4 right-align">
            <a class="waves-effect waves-light btn green" x-ng-click="vm.restartTrack(track)" x-ng-if="track.stoped_at"><i class="fa fa-play" aria-hidden="true"></i></a>
            <a class="waves-effect waves-light btn orange " x-ng-click="vm.stopTrack(track)" x-ng-if="!track.stoped_at"><i class="fa fa-stop" aria-hidden="true"></i></a>
            <a class="waves-effect waves-light btn blue" x-ng-click="vm.editTrack(track)" data-target='editTrackModal' modal><i class="fa fa-edit" aria-hidden="true"></i></a>
            <a class="waves-effect waves-light btn red" x-ng-click="vm.removeTrack(track)"><i class="fa fa-trash" aria-hidden="true"></i></a>
        </div>
    </li>
    <li class="collection-item row" >
        <div class="col s5">
            <strong class="right">{{'field.total'|i18n}}:</strong>
        </div>
        <div class="col s7">
            <strong>{{vm.getTotalDuration(vm.clock) | duration : "hh:mm:ss"}}</strong>
        </div>
    </li>
</ul>

<!-- Modal Structure -->
<div id="editTrackModal" class="modal modal-fixed-footer">
    <div class="modal-content">
        <form name="newTrackForm">
            <div class="section col m6 s12">
                <div input-field>
                    <select id="employerInput" name="employerInput" ng-model="vm.newTrack.employer" x-ng-disabled="vm.employers.length==0"
                            material-select watch ng-options="employer.name for employer in vm.employers track by employer.id">
                    </select>
                    <label for="employerInput">
                        <i class="fa fa-university fa-padding" aria-hidden="true"></i>{{'kind.employer'|i18n}}
                    </label>
                </div>
                <blockquote class="red-text" style="margin-top: 0px" x-ng-if="vm.employers.length==0">
                    {{'field.noEmployers.title' | i18n}}
                    <a href="/{{vm.path.language}}/employers" class="modal-close"><i class="fa fa-cog" aria-hidden="true"></i></a>
                </blockquote>
            </div>

            <div class="section col m6 s12">
                <div class="row" style="margin:0px">
                    <div input-field class="col s10" style="padding:0px">
                        <select id="projectInput" name="projectInput" ng-model="vm.newTrack.project" x-ng-disabled="vm.projects.length==0"
                                material-select watch ng-options="project.name for project in vm.projects | byEmployer: vm.newTrack.employer track by project.name">
                        </select>
                        <label for="projectInput">
                            <i class="fa fa-sticky-note fa-padding" aria-hidden="true"></i>{{'kind.project'|i18n}}
                        </label>
                    </div>
                    <a class="waves-effect waves-teal btn-flat col s2" style="margin-top: 25px;" x-ng-click="vm.newTrack.project=null">
                        <center>
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </center>
                    </a>
                </div>
                <blockquote class="red-text" style="margin-top: 0px" x-ng-if="vm.projects.length==0">
                    {{'field.noProjects.title' | i18n}}
                    <a href="/{{vm.path.language}}/projects" class="modal-close"><i class="fa fa-cog" aria-hidden="true"></i></a>
                </blockquote>
            </div>

            <div class="section col m6 s12">
                <div class="row" style="margin:0px">
                    <div input-field class="col s10" style="padding:0px">
                        <select id="taskInput" name="taskInput" ng-model="vm.newTrack.task" x-ng-disabled="vm.tasks.length==0"
                                material-select  watch ng-options="task.name for task in vm.tasks | tasksByProject: vm.newTrack.project track by task.id">
                        </select>
                        <label for="taskInput">
                            <i class="fa fa-tasks fa-padding" aria-hidden="true"></i>{{'kind.task'|i18n}}
                        </label>
                    </div>
                    <a class="waves-effect waves-teal btn-flat col s2" style="margin-top: 25px;" x-ng-click="vm.newTrack.task=null">
                        <center>
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </center>
                    </a>
                </div>
                <blockquote class="red-text" style="margin-top: 0px" x-ng-if="vm.tasks.length==0">
                    {{'field.noTasks.title' | i18n}}
                    <a href="/{{vm.path.language}}/tasks" class="modal-close"><i class="fa fa-cog" aria-hidden="true"></i></a>
                </blockquote>
            </div>

            <div class="section col m6 s12">
                <div class="row" style="margin:0px">
                    <div input-field class="col s10" style="padding:0px">
                        <select id="clientInput" name="clientInput" ng-model="vm.newTrack.client" x-ng-disabled="vm.clients.length==0"
                                material-select  watch ng-options="client.name for client in vm.clients | tasksByProject: vm.newTrack.project track by client.id">
                        </select>
                        <label for="clientInput">
                            <i class="fa fa-user fa-padding" aria-hidden="true"></i>{{'kind.client'|i18n}}
                        </label>
                    </div>
                    <a class="waves-effect waves-teal btn-flat col s2" style="margin-top: 25px;" x-ng-click="vm.newTrack.client=null">
                        <center>
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </center>
                    </a>
                </div>
                <blockquote class="red-text" style="margin-top: 0px" x-ng-if="vm.clients.length==0">
                    {{'field.noClients.title' | i18n}}
                    <a href="/{{vm.path.language}}/clients" class="modal-close"><i class="fa fa-cog" aria-hidden="true"></i></a>
                </blockquote>
            </div>

            <div class="input-field col s12">
                <textarea id="descrInput" type="text" class="materialize-textarea" x-ng-model="vm.newTrack.descr"></textarea>
                <label for="descrInput">{{'field.descr'|i18n}}</label>
            </div>

            <div class="input-field col s12 m6">
                <label for="input_starttime">{{'field.startTime'|i18n}}</label>
                <input id="input_starttime" ng-model="vm.newTrack.started_at" class="timepicker" input-clock type="time"
                       data-twelvehour="false" data-fromnow="0" data-autoclose="true"  >
            </div>

            <div class="input-field col s10 m5" style="padding:0px">
                <label for="input_stoptime">{{'field.stopTime'|i18n}}</label>
                <input id="input_stoptime" ng-model="vm.newTrack.stoped_at" class="timepicker" input-clock type="time"
                       data-twelvehour="false" data-fromnow="0" data-autoclose="true">
            </div>
            <a class="waves-effect waves-teal btn-flat col s2 m1" style="margin-top: 25px;" x-ng-click="vm.newTrack.stoped_at=null">
                <center>
                    <i class="fa fa-times" aria-hidden="true"></i>
                </center>
            </a>
            <div class="input-field col s12 m6 offset-m6" style="margin-top: -10px;">
                <input type="checkbox" id="nextday" ng-model="vm.newTrack.nextDay"/>
                <label for="nextday">{{'field.nextDay'|i18n}}</label>
            </div>
        </form>
    </div>
    <div class="modal-footer">
            <button class="modal-action modal-close waves-effect waves-light btn green" x-ng-click="vm.saveTrack(vm.newTrack)" x-ng-if="!vm.newTrack.id">{{'btn.add'|i18n}}</button>
            <button class="modal-action modal-close waves-effect waves-light btn green" x-ng-click="vm.updateTrack(vm.newTrack)" x-ng-if="vm.newTrack.id">{{'btn.save'|i18n}}</button>
            <button class="modal-action modal-close waves-effect waves-light btn red" x-ng-click="vm.edit=false">{{'btn.cancel'|i18n}}</button>
    </div>
</div>

<a class="btn-floating btn-large waves-effect waves-light green btn-add-new" x-ng-click="vm.newTrackFn()" data-target='editTrackModal' modal>
    <i class="fa fa-plus" aria-hidden="true"></i>
</a>

<a class="btn-floating btn-large blue discover-new" x-ng-if="vm.day.track_set.length==0">
      <h5>{{'field.noTracks.title' | i18n}}</h5>
      <p>{{'field.noTracks.descr' | i18n}}</p>
    <a class="btn-floating btn-large white discover-new-small pulse" x-ng-if="vm.day.track_set.length==0"></a>
</a>