<header class="title"><i class="fa fa-sticky-note fa-padding" aria-hidden="true"></i>{{'kind.project'|i18n}}</header>
<ul class="collection">
    <li class="collection-item row">
        <div class="input-field col s12" input-field>
            <select id="projectSelect" class="" ng-model="vm.project" x-ng-change="vm.updateStats(vm.project.id)" material-select watch
                ng-options="project as project.name for project in vm.projects track by project.name"/>
            <label for="projectSelect">
                <i class="fa fa-sticky-note fa-padding" aria-hidden="true"></i>{{'kind.project'|i18n}}
            </label>
        </div>
    </li>
</ul>

<ul class="collection" x-ng-if="vm.project.track_set.length==0">
    <li class="collection-item row">
        <h5><center>{{'msg.log.tracks.empty' |i18n}}</center></h5>
    </li>
</ul>
<div class="card" x-ng-if="vm.project.track_set.length>0">
    <div class="card-action">
        <a href="#" x-ng-click="vm.submenu='stats'">{{'kind.statslog' | i18n}}</a>
        <a href="#" x-ng-click="vm.submenu='tracks'">{{'kind.tracklog' | i18n}}</a>
    </div>

    <div class="card-content row" x-ng-if="vm.submenu=='stats'">
        <div class="col  l3 m6 s12">
            <h5 class="center-align"><i class="fa fa-tasks fa-padding" aria-hidden="true"></i>{{'kind.tasks'|i18n}}</h5>
            <canvas id="doughnutTask" class="chart chart-doughnut" chart-options="vm.doughnutOptions"
                    chart-data="vm.stats.doughnutTaskData" chart-labels="vm.stats.doughnutTaskLabel" style="width: 150px; height: 150px;"></canvas>
            <table>
            <thead>
                <tr>
                    <th>{{'kind.task'|i18n}}</th>
                    <th>{{'field.duration'|i18n}}</th>
                </tr>
            </thead>
                <tbody>
                    <tr x-ng-repeat="task in vm.stats.tasks">
                        <td>{{task.name}}</td>
                        <td>{{task.duration | duration : "hh:mm"}}</td>
                    </tr>
                    <tr style="font-weight: bold;">
                        <td>{{'field.total' | i18n}}:</td>
                        <td>{{vm.stats.total | duration : "hh:mm"}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col l3 m6 s12">
            <h5 class="center-align"><i class="fa fa-user fa-padding" aria-hidden="true"></i>{{'kind.clients'|i18n}}</h5>
            <canvas id="doughnutClient" class="chart chart-doughnut" chart-options="vm.doughnutOptions"
                    chart-data="vm.stats.doughnutClientData" chart-labels="vm.stats.doughnutClientLabel" style="width: 150px; height: 150px;"></canvas>
            <table>
            <thead>
                <tr>
                    <th>{{'kind.client'|i18n}}</th>
                    <th>{{'field.duration'|i18n}}</th>
                </tr>
            </thead>
                <tbody>
                    <tr x-ng-repeat="client in vm.stats.clients">
                        <td>{{client.name}}</td>
                        <td>{{client.duration | duration : "hh:mm"}}</td>
                    </tr>
                    <tr style="font-weight: bold;">
                        <td>{{'field.total' | i18n}}:</td>
                        <td>{{vm.stats.total | duration : "hh:mm"}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="card-content" x-ng-if="vm.submenu=='tracks'" style="padding:0px">
        <ul class="collection">
            <li class="collection-item row" x-ng-repeat="track in vm.project.track_set">
                <div class="col s2" >
                    <span x-ng-if="vm.isDateToShow($index)">
                        <a href="/{{vm.path.language}}/tracks/{{track.started_at | date : 'yyyy-MM-dd'}}">{{track.started_at | date : "yyyy-MM-dd"}}</a>
                    </span>
                </div>
                <div class="col s7">
                    <a class="padding-right" x-ng-if="track.employer" tooltipped="{{!!track.employer.descr}}" data-position="bottom" data-delay="50" data-html=true" data-tooltip="{{track.employer.descr}}">
                        <i class="fa fa-university fa-padding grey-text" aria-hidden="true"></i>{{track.employer.name}}
                    </a>
                    <a class="padding-right" tooltipped="{{!!track.project.descr}}" data-position="bottom" data-delay="50" data-html=true" data-tooltip="{{track.project.descr}}">
                        <i class="fa fa-sticky-note fa-padding grey-text" aria-hidden="true"></i>{{vm.project.name}}
                    </a>
                    <a class="padding-right" x-ng-if="track.task" tooltipped="{{!!track.task.descr}}" data-position="bottom" data-delay="50" data-html=true" data-tooltip="{{track.task.descr}}">
                        <i class="fa fa-tasks fa-padding grey-text " aria-hidden="true"></i>{{track.task.name}}
                    </a>
                    <a class="padding-right" x-ng-if="track.client" tooltipped="{{!!track.client.descr}}" data-position="bottom" data-delay="50" data-html=true" data-tooltip="{{track.client.descr}}">
                        <i class="fa fa-user fa-padding grey-text" aria-hidden="true"></i>{{track.client.name}}
                    </a>
                    <br/>
                    <div class="truncate">{{track.descr}}</div>
                </div>
                <div class="col s3">
                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                    <strong><ceneter>{{vm.getDiff(track.stoped_at, track.started_at) | amUtc | amDateFormat: "HH:mm:ss"}}</ceneter></strong><br/>
                    {{track.started_at | date : "HH:mm"}} - {{track.stoped_at | date : "HH:mm"}}
                </div>
            </li>
            <li class="collection-item row" >
                <div class="col s9">
                    <strong class="right">{{'field.total'|i18n}}:</strong>
                </div>
                <div class="col s3">
                    <strong>{{vm.stats.total | duration : "hh:mm:ss"}}</strong>
                </div>
            </li>
        </ul>
    </div>
</div>