<header class="title"><i class="fa fa-check-square-o fa-padding" aria-hidden="true"></i>{{'kind.todo'|i18n}}</header>

<ul class="collapsible popout" data-collapsible="accordion">
    <li x-ng-repeat="todo in vm.todos | orderBy :'expired_at'" >
        <div class="collapsible-header">

            <!--<a tooltipped="{{!!todo.employer.descr}}" data-position="bottom" data-delay="50" data-html=true" data-tooltip="{{todo.employer.descr}}">{{todo.employer.name}}</a> - -->
            <!--<a tooltipped="{{!!todo.project.descr}}" data-position="bottom" data-delay="50" data-html=true" data-tooltip="{{todo.project.descr}}">{{todo.project.name}}</a> - -->
            <!--<a tooltipped="{{!!todo.task.descr}}" data-position="bottom" data-delay="50" data-html=true" data-tooltip="{{todo.task.descr}}">{{todo.task.name}}</a> - -->
            <!--<a tooltipped="{{!!todo.client.descr}}" data-position="bottom" data-delay="50" data-html=true" data-tooltip="{{todo.client.descr}}">{{todo.client.name}}</a> - -->

            <span >
                <a class="padding-right" x-ng-if="todo.employer" tooltipped="{{!!todo.employer.descr}}" data-position="bottom" data-delay="50" data-html=true" data-tooltip="{{track.employer.descr}}">
                    <i class="fa fa-university fa-padding grey-text" aria-hidden="true" style="float: none !important; display: inline !important; font-size: 14px!important;"></i>
                    {{todo.employer.name}}
                </a>
                <a class="padding-right" x-ng-if="todo.project" tooltipped="{{!!todo.project.descr}}" data-position="bottom" data-delay="50" data-html=true" data-tooltip="{{track.project.descr}}">
                    <i class="fa fa-sticky-note fa-padding grey-text" aria-hidden="true" style="float: none !important; display: inline !important; font-size: 14px!important;"></i>
                    {{todo.project.name}}
                </a>
                <a class="padding-right" x-ng-if="todo.task" tooltipped="{{!!todo.task.descr}}" data-position="bottom" data-delay="50" data-html=true" data-tooltip="{{track.task.descr}}">
                    <i class="fa fa-tasks fa-padding grey-text " aria-hidden="true" style="float: none !important; display: inline !important; font-size: 14px!important;"></i>
                    {{todo.task.name}}
                </a>
                <a class="padding-right" x-ng-if="todo.client" tooltipped="{{!!todo.client.descr}}" data-position="bottom" data-delay="50" data-html=true" data-tooltip="{{track.client.descr}}">
                    <i class="fa fa-user fa-padding grey-text" aria-hidden="true" style="float: none !important; display: inline !important; font-size: 14px!important;"></i>
                    {{todo.client.name}}
                </a>
                {{todo.expired_at| date :'yyyy-MM-dd'}}
            </span>
            <span class="blue-text right">
                <a tooltipped data-position="bottom" data-delay="50" data-html=true" data-tooltip="{{'field.prio.1' | i18n}}">
                    <i class="fa fa-bolt prio-lightning" aria-hidden="true" ng-class="{'fa-stroke': todo.prio<1}"></i>
                </a>
                <a tooltipped data-position="bottom" data-delay="50" data-html=true" data-tooltip="{{'field.prio.2' | i18n}}">
                    <i class="fa fa-bolt prio-lightning" aria-hidden="true" ng-class="{'fa-stroke': todo.prio<2}"></i>
                </a>
                <a tooltipped data-position="bottom" data-delay="50" data-html=true" data-tooltip="{{'field.prio.3' | i18n}}">
                    <i class="fa fa-bolt prio-lightning" aria-hidden="true" ng-class="{'fa-stroke': todo.prio<3}"></i>
                </a>
                <a tooltipped data-position="bottom" data-delay="50" data-html=true" data-tooltip="{{'field.prio.4' | i18n}}">
                    <i class="fa fa-bolt prio-lightning" aria-hidden="true" ng-class="{'fa-stroke': todo.prio<4}"></i>
                </a>
                <a tooltipped data-position="bottom" data-delay="50" data-html=true" data-tooltip="{{'field.prio.5' | i18n}}">
                    <i class="fa fa-bolt prio-lightning" aria-hidden="true" ng-class="{'fa-stroke': todo.prio<5}"></i>
                </a>
            </span>
            <br/>
            <div class="truncate">{{todo.descr}}</div>
        </div>
        <div class="collapsible-body nopadding">
            <div class="row" >
                <div class="col s12">
                    <ul tabs reload="allTabContentLoaded">
                        <li class="tab pointer"><a class="active" href="#descrTab{{$index}}">{{'field.params'|i18n}}</a></li>
                        <li class="tab pointer">
                            <a x-ng-click="vm.editTodo(todo)"  data-target='editTodoModal' modal>
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="tab pointer">
                            <a x-ng-click="vm.startTrack(todo)">
                                <i class="fa fa-play" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="tab pointer right">
                            <a x-ng-click="vm.doneTodo(todo)">
                                <i class="fa fa-times" aria-hidden="true"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div id="descrTab{{$index}}" class="col m12">
                    <div class="col s6">
                        <p><strong><i class="fa fa-university fa-padding" aria-hidden="true"></i>{{'kind.employer'|i18n}}: </strong>{{todo.employer.name}}</p>
                        <p><strong><i class="fa fa-sticky-note fa-padding" aria-hidden="true"></i>{{'kind.project'|i18n}}: </strong>{{todo.project.name}}</p>
                        <p><strong><i class="fa fa-tasks fa-padding" aria-hidden="true"></i>{{'kind.task'|i18n}}: </strong>{{todo.task.name}}</p>
                        <p><strong><i class="fa fa-user fa-padding" aria-hidden="true"></i>{{'kind.client'|i18n}}: </strong>{{todo.client.name}}</p>
                        <p><strong><i class="fa fa-clock-o fa-padding" aria-hidden="true"></i>{{'field.expiredTime'|i18n}}: </strong>{{todo.expired_at| date :'yyyy-MM-dd'}}</p>
                        <p><strong>{{'field.prio' | i18n }}:</strong>
                            <span class="blue-text">
                                <a tooltipped data-position="bottom" data-delay="50" data-html=true" data-tooltip="{{'field.prio.1' | i18n}}">
                                    <i class="fa fa-bolt fa-lg rating-star" aria-hidden="true" ng-class="{'fa-stroke': todo.prio<1}"></i>
                                </a>
                                <a tooltipped data-position="bottom" data-delay="50" data-html=true" data-tooltip="{{'field.prio.2' | i18n}}">
                                    <i class="fa fa-bolt fa-lg rating-star" aria-hidden="true" ng-class="{'fa-stroke': todo.prio<2}"></i>
                                </a>
                                <a tooltipped data-position="bottom" data-delay="50" data-html=true" data-tooltip="{{'field.prio.3' | i18n}}">
                                    <i class="fa fa-bolt fa-lg rating-star" aria-hidden="true" ng-class="{'fa-stroke': todo.prio<3}"></i>
                                </a>
                                <a tooltipped data-position="bottom" data-delay="50" data-html=true" data-tooltip="{{'field.prio.4' | i18n}}">
                                    <i class="fa fa-bolt fa-lg rating-star" aria-hidden="true" ng-class="{'fa-stroke': todo.prio<4}"></i>
                                </a>
                                <a tooltipped data-position="bottom" data-delay="50" data-html=true" data-tooltip="{{'field.prio.5' | i18n}}">
                                    <i class="fa fa-bolt fa-lg rating-star" aria-hidden="true" ng-class="{'fa-stroke': todo.prio<5}"></i>
                                </a>
                            </span>
                        </p>
                    </div>
                    <div class="col s6">
                        <p><strong>{{'field.descr'|i18n}}: </strong>{{todo.descr }}</p>
                    </div>
                </div>
            </div>
        </div>
    </li>
</ul>

<!-- Modal Structure -->
<div id="editTodoModal" class="modal modal-fixed-footer">
    <div class="modal-content">
        <form name="newTodoForm">
            <div class="section col m6 s12">
                <div input-field>
                    <select id="employerInput" name="employerInput" ng-model="vm.newTodo.employer" x-ng-disabled="vm.employers.length==0"
                            material-select watch ng-options="employer.name for employer in vm.employers track by employer.name">
                    </select>
                    <label for="employerInput">
                        {{'kind.employer'|i18n}}
                    </label>
                </div>
                <blockquote class="red-text" style="margin-top: 0px" x-ng-if="vm.employers.length==0">
                    {{'field.noEmployers.title' | i18n}}
                    <a href="/{{vm.path.language}}/employers" class="modal-close"><i class="fa fa-cog" aria-hidden="true"></i></a>
                </blockquote>
            </div>

            <div class="section col m6 s12">
                <div class="row" style="margin:0px">
                    <div input-field class="col s10" style="padding:0px">
                        <select id="projectInput" name="projectInput" ng-model="vm.newTodo.project" x-ng-disabled="vm.projects.length==0"
                                material-select watch ng-options="project.name for project in vm.projects | byEmployer: vm.newTodo.employer track by project.id">
                        </select>
                        <label for="projectInput">
                            {{'kind.project'|i18n}}
                        </label>
                    </div>
                    <a class="waves-effect waves-teal btn-flat col s2" style="margin-top: 25px;" x-ng-click="vm.newTodo.project=null">
                        <center>
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </center>
                    </a>
                </div>
                <blockquote class="red-text" style="margin-top: 0px" x-ng-if="vm.projects.length==0">
                    {{'field.noProjects.title' | i18n}}
                    <a href="/{{vm.path.language}}/projects" class="modal-close"><i class="fa fa-cog" aria-hidden="true"></i></a>
                </blockquote>
            </div>

            <div class="section col m6 s12">
                <div class="row" style="margin:0px">
                    <div input-field class="col s10" style="padding:0px">
                        <select id="taskInput" name="taskInput" ng-model="vm.newTodo.task" x-ng-disabled="vm.tasks.length==0"
                                material-select  watch ng-options="task.name for task in vm.tasks | tasksByProject: vm.newTodo.project track by task.name">
                        </select>
                        <label for="taskInput">
                            {{'kind.task'|i18n}}
                        </label>
                    </div>
                    <a class="waves-effect waves-teal btn-flat col s2" style="margin-top: 25px;" x-ng-click="vm.newTodo.task=null">
                        <center>
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </center>
                    </a>
                </div>
                <blockquote class="red-text" style="margin-top: 0px" x-ng-if="vm.tasks.length==0">
                    {{'field.noTasks.title' | i18n}}
                    <a href="/{{vm.path.language}}/tasks" class="modal-close"><i class="fa fa-cog" aria-hidden="true"></i></a>
                </blockquote>
            </div>

            <div class="section col m6 s12">
                <div class="row" style="margin:0px">
                    <div input-field class="col s10" style="padding:0px">
                        <select id="clientInput" name="clientInput" ng-model="vm.newTodo.client" x-ng-disabled="vm.clients.length==0"
                                material-select  watch ng-options="client.name for client in vm.clients | tasksByProject: vm.newTodo.project track by client.name">
                        </select>
                        <label for="clientInput">
                            {{'kind.client'|i18n}}
                        </label>
                    </div>
                    <a class="waves-effect waves-teal btn-flat col s2" style="margin-top: 25px;" x-ng-click="vm.newTodo.client=null">
                        <center>
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </center>
                    </a>
                </div>
                <blockquote class="red-text" style="margin-top: 0px" x-ng-if="vm.clients.length==0">
                    {{'field.noClients.title' | i18n}}
                    <a href="/{{vm.path.language}}/clients" class="modal-close"><i class="fa fa-cog" aria-hidden="true"></i></a>
                </blockquote>
            </div>

            <div class="input-field col s12">
                <textarea id="descrInput" type="text" class="materialize-textarea" x-ng-model="vm.newTodo.descr"></textarea>
                <label for="descrInput">{{'field.descr'|i18n}}</label>
            </div>

            <div class="input-field col s12 m6">
                <div class="row">
                    <div class="col s10">
                        <label for="input_expiredtime">{{'field.expiredTime'|i18n}}</label>
                        <input id="input_expiredtime" style="margin:0px" input-date
                            type="date"
                            ng-model="vm.newTodo.expired_at"
                            format="yyyy-mm-dd"
                            months-full="{{ vm.locale.STANDALONEMONTH }}"
                            months-short="{{ vm.locale.MONTHSHORT }}"
                            weekdays-full="{{ vm.locale.DAY }}"
                            weekdays-short="{{ vm.locale.SHORTDAY }}"
                            weekdays-letter="{{ vm.locale.WEEKDAYSLETTER }}"
                            disable="disable"
                            today="today"
                            first-day="1"
                            clear="clear"
                            close="close"
                            on-close="vm.setDay()"/>
                    </div>
                    <a class="waves-effect waves-teal btn-flat col s2" style="margin-top: 10px;" x-ng-click="vm.newTodo.expired_at=null">
                        <center>
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </center>
                    </a>
                </div>
            </div>
            <div class="input-field col s12 m6">
                <label>{{'field.prio' | i18n }}:</label>
                <div class="right blue-text">
                    <a tooltipped data-position="bottom" data-delay="50" data-html=true" data-tooltip="{{'field.prio.1' | i18n}}">
                        <i class="fa fa-bolt fa-lg rating-star" aria-hidden="true" ng-class="{'fa-stroke': vm.newTodo.prio<1}" ng-click="vm.newTodo.prio=1;"></i>
                    </a>
                    <a tooltipped data-position="bottom" data-delay="50" data-html=true" data-tooltip="{{'field.prio.2' | i18n}}">
                        <i class="fa fa-bolt fa-lg rating-star" aria-hidden="true" ng-class="{'fa-stroke': vm.newTodo.prio<2}" ng-click="vm.newTodo.prio=2;"></i>
                    </a>
                    <a tooltipped data-position="bottom" data-delay="50" data-html=true" data-tooltip="{{'field.prio.3' | i18n}}">
                        <i class="fa fa-bolt fa-lg rating-star" aria-hidden="true" ng-class="{'fa-stroke': vm.newTodo.prio<3}" ng-click="vm.newTodo.prio=3;"></i>
                    </a>
                    <a tooltipped data-position="bottom" data-delay="50" data-html=true" data-tooltip="{{'field.prio.4' | i18n}}">
                        <i class="fa fa-bolt fa-lg rating-star" aria-hidden="true" ng-class="{'fa-stroke': vm.newTodo.prio<4}" ng-click="vm.newTodo.prio=4;"></i>
                    </a>
                    <a tooltipped data-position="bottom" data-delay="50" data-html=true" data-tooltip="{{'field.prio.5' | i18n}}">
                        <i class="fa fa-bolt fa-lg rating-star" aria-hidden="true" ng-class="{'fa-stroke': vm.newTodo.prio<5}" ng-click="vm.newTodo.prio=5;"></i>
                    </a>
                    <i class="fa fa-remove fa-lg rating-star grey-text" aria-hidden="true" ng-click="vm.newTodo.prio=0;"></i>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
            <button class="modal-action modal-close waves-effect waves-light btn green" x-ng-click="vm.saveTodo(vm.newTodo)" x-ng-if="!vm.newTodo.id">{{'btn.add'|i18n}}</button>
            <button class="modal-action modal-close waves-effect waves-light btn green" x-ng-click="vm.updateTodo(vm.newTodo)" x-ng-if="vm.newTodo.id">{{'btn.save'|i18n}}</button>
            <button class="modal-action modal-close waves-effect waves-light btn red" x-ng-click="vm.edit=false">{{'btn.cancel'|i18n}}</button>
    </div>
</div>

<a class="btn-floating btn-large waves-effect waves-light green btn-add-new" x-ng-click="vm.newTodoFn()" data-target='editTodoModal' modal>
    <i class="fa fa-plus" aria-hidden="true"></i>
</a>

<a class="btn-floating btn-large blue discover-new" x-ng-if="vm.todos.length==0">
      <h5>{{'field.noTodos.title' | i18n}}</h5>
      <p>{{'field.noTodos.descr' | i18n}}</p>
    <a class="btn-floating btn-large white discover-new-small pulse" x-ng-if="vm.todos.length==0"></a>
</a>