<header class="title"><i class="fa fa-user fa-padding" aria-hidden="true"></i>{{'kind.clients'|i18n}}</header>

<ul class="collapsible popout" data-collapsible="accordion">
    <li x-ng-repeat="client in vm.clients | orderBy :'name'" >
        <div class="collapsible-header">{{client.name}}</div>
        <div class="collapsible-body nopadding">
            <div class="row" >
                <div class="col s12">
                    <ul tabs reload="allTabContentLoaded">
                        <li class="tab"><a class="active" href="#descrTab{{$index}}">{{'field.params'|i18n}}</a></li>
                        <li class="tab pointer"><a href="#projectTab{{$index}}">{{'kind.projects'|i18n}}</a></li>
                        <li class="tab">
                            <a x-ng-click="vm.editClientFn(client)" data-target='editClientModal' modal>
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div id="descrTab{{$index}}" class="col s12">
                    <p><strong>{{'field.phone'|i18n}}: </strong>{{client.phone_number}}</p>
                    <p><strong>{{'field.email'|i18n}}: </strong>{{client.email}}</p>
                    <p><strong>{{'field.address'|i18n}}: </strong>{{client.address}}</p>
                    <p><strong>{{'field.descr'|i18n}}: </strong>{{client.descryption}}</p>
                </div>
                <div id="projectTab{{$index}}" class="col s12">
                    <ul class="collection">
                        <li class="collection-item row" x-ng-repeat="project in vm.projects | orderBy :'name'">
                            <div class="col s9">{{project.name}}</div>
                            <div class="col s2">
                                <button class="waves-effect waves-light btn red" x-ng-if="vm.isActive(client.project, project.id)" x-ng-click="vm.removeClientToProject(project, client)">
                                    <i class="fa fa-minus" aria-hidden="true"></i>
                                </button>
                                <button class="waves-effect waves-light btn green" x-ng-if="!vm.isActive(client.project, project.id)" x-ng-click="vm.addClientToProject(project, client)">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                </button>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </li>
</ul>
<!-- Modal Structure -->
<div id="editClientModal" class="modal modal-fixed-footer">
    <div class="modal-content">
        <form name="clientEditForm" class="row">
            <div class="form-group label-floating  col s6">
                <label class="control-label" for="nameEditInput">
                    {{'field.name'|i18n}}
                </label>
                <input class="form-control" id="nameEditInput" name="nameEditInput" type="text" x-ng-model="vm.editClient.name">
            </div>
            <div class="form-group label-floating  col s6">
                <label class="control-label" for="namePhonenput" placeholder="+48 123 456 789">
                    {{'field.phone'|i18n}}
                </label>
                <input class="form-control" id="namePhonenput" name="namePhonenput" type="tel" x-ng-model="vm.editClient.phone_number">
            </div>
            <div class="form-group label-floating  col s6">
                <label class="control-label" for="nameEmailInput">
                    {{'field.email'|i18n}}
                </label>
                <input class="form-control" id="nameEmailInput" name="nameEmailInput" type="email" x-ng-model="vm.editClient.email">
            </div>
            <div class="form-group label-floating  col s6">
                <label class="control-label" for="nameAddressInput">
                    {{'field.address'|i18n}}
                </label>
                <input class="form-control" id="nameAddressInput" name="nameAddressInput" type="text" x-ng-model="vm.editClient.address">
            </div>
            <div class="form-group label-floating  col s6">
                <label class="control-label" for="nameDescrInput">
                    {{'field.descr'|i18n}}
                </label>
                <input class="form-control" id="nameDescrInput" name="nameDescrInput" type="text" x-ng-model="vm.editClient.descryption">
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="modal-action modal-close waves-effect waves-light btn green" x-ng-click="vm.saveClient(vm.editClient)" x-ng-if="vm.add">{{'btn.add'|i18n}}</button>
        <button class="modal-action modal-close waves-effect waves-light btn green" x-ng-click="vm.updateClient(vm.editClient)" x-ng-if="vm.edit">{{'btn.save'|i18n}}</button>
        <button class="modal-action modal-close waves-effect waves-light btn red" x-ng-click="vm.edit=false">{{'btn.cancel'|i18n}}</button>
    </div>
</div>
<a id="add" class="btn-floating btn-large waves-effect waves-light green btn-add-new" x-ng-click="vm.newClientFn()" data-target='editClientModal' modal>
    <i class="fa fa-plus" aria-hidden="true"></i>
</a>

<a class="btn-floating btn-large blue discover-new" x-ng-if="vm.clients.length==0">
        <h5>{{'field.noClients.title'|i18n}}</h5>
        <p>{{'field.noClients.descr'|i18n}}</p>
    <a class="btn-floating btn-large white discover-new-small pulse" x-ng-if="vm.clients.length==0"></a>
</a>