<header x-ng-if="vm.statslog" class="title"><i class="fa fa-pie-chart fa-padding" aria-hidden="true"></i>{{'kind.statslog'|i18n}}</header>
<header x-ng-if="vm.daylog" class="title"><i class="fa fa-calendar fa-padding" aria-hidden="true"></i>{{'kind.daylog'|i18n}}</header>
<header x-ng-if="vm.tracklog" class="title"><i class="fa fa-tasks fa-padding" aria-hidden="true"></i>{{'kind.tracklog'|i18n}}</header>
<ul class="collection">
    <li class="collection-item row">
        <div class="input-field col m6 s12">
            <label for="input_startDay">{{'field.from'|i18n}}</label>
            <input input-date style="font-size: 30px; text-align: center;" id="input_startDay"
                type="text"
                ng-model="vm.monthFrom"
                format="yyyy-mm-dd"
                months-full="{{ vm.locale.STANDALONEMONTH }}"
                months-short="{{ vm.locale.SHORTMONTH }}"
                weekdays-full="{{ vm.locale.DAY }}"
                weekdays-short="{{ vm.locale.SHORTDAY }}"
                weekdays-letter="{{ vm.locale.WEEKDAYSLETTER }}"
                disable="disable"
                today="today"
                first-day="1"
                clear="clear"
                close="close"
                on-close="vm.getData()"/>
        </div>
        <div class="input-field col m6 s12">
            <label for="input_stopDay">{{'field.to'|i18n}}</label>
            <input input-date style="font-size: 30px; text-align: center;" id="input_stopDay"
                type="text"
                ng-model="vm.monthTo"
                format="yyyy-mm-dd"
                months-full="{{ vm.locale.STANDALONEMONTH }}"
                months-short="{{ vm.locale.SHORTMONTH }}"
                weekdays-full="{{ vm.locale.DAY }}"
                weekdays-short="{{ vm.locale.SHORTDAY }}"
                weekdays-letter="{{ vm.locale.WEEKDAYSLETTER }}"
                disable="disable"
                today="today"
                first-day="1"
                clear="clear"
                close="close"
                on-close="vm.getData()"/>
        </div>
    </li>
</ul>

<ul x-ng-if="vm.daylog || vm.tracklog" class="collection">
    <li class="collection-item row">
        <div class="col s12 m6 l3" input-field>
            <select id="employerSelect" class="" ng-model="vm.stats.selections.employers" x-ng-change="vm.updateStats()" material-select multiple watch>
                <option ng-repeat="value in vm.stats.toSelect.employers">{{value.name}}</option>
            </select>
            <label for="employerSelect">
                <i class="fa fa-university fa-padding" aria-hidden="true"></i>{{'kind.employer'|i18n}}
            </label>
        </div>
        <div class="col s12 m6 l3" input-field>
            <select id="projectSelect" class="" ng-model="vm.stats.selections.projects" x-ng-change="vm.updateStats()" material-select multiple watch>
                <option ng-repeat="value in vm.stats.toSelect.projects">{{value.name}}</option>
            </select>
            <label for="projectSelect">
                <i class="fa fa-sticky-note fa-padding" aria-hidden="true"></i>{{'kind.project'|i18n}}
            </label>
        </div>
        <div class="col s12 m6 l3" input-field>
            <select id="taskSelect" class="" ng-model="vm.stats.selections.tasks" x-ng-change="vm.updateStats()" material-select multiple watch>
                <option ng-repeat="value in vm.stats.toSelect.tasks">{{value.name}}</option>
            </select>
            <label for="taskSelect">
                <i class="fa fa-tasks fa-padding" aria-hidden="true"></i>{{'kind.task'|i18n}}
            </label>
        </div>
        <div class="col s12 m6 l3" input-field>
            <select id="clientSelect" class="" ng-model="vm.stats.selections.clients" x-ng-change="vm.updateStats()" material-select multiple watch>
                <option ng-repeat="value in vm.stats.toSelect.clients">{{value.name}}</option>
            </select>
            <label for="clientSelect">
                <i class="fa fa-user fa-padding" aria-hidden="true"></i>{{'kind.client'|i18n}}
            </label>
        </div>
    </li>
    <li x-ng-if="vm.daylog" class="collection-item row">
        <div class="col s3 bold">{{'field.date' | i18n }}</div>
        <div class="col s3 bold">{{'field.day.workdDegree' | i18n }}</div>
        <div class="col s3 bold">{{'field.day.dayDegree' | i18n }}</div>
        <div class="col s3 bold">{{'field.duration' | i18n }}</div>
    </li>
    <li x-ng-if="vm.daylog" class="collection-item row" x-ng-repeat="day in vm.month.day_set" x-ng-class="{'red lighten-5': day.date.getDay()==6, 'red lighten-4': day.date.getDay()==0 || day.hollyday, 'green lighten-4': day.freeday}">
        <div class="col s3">
            <a href="/{{vm.path.language}}/tracks/{{day.date | date : 'yyyy-MM-dd'}}">{{day.date | date : "yyyy-MM-dd"}}</a>
        </div>
        <div class="col s3">
            <div class=" blue-text" x-ng-if="day.duration>0">
                <i class="fa fa-star fa-lg" aria-hidden="true" ng-class="{'fa-star-o': day.workDegree<1}" ></i>
                <i class="fa fa-star fa-lg" aria-hidden="true" ng-class="{'fa-star-o': day.workDegree<2}" ></i>
                <i class="fa fa-star fa-lg" aria-hidden="true" ng-class="{'fa-star-o': day.workDegree<3}" ></i>
            </div>
        </div>
        <div class="col s3">
            <div class=" blue-text" x-ng-if="day.duration>0">
                <i class="fa fa-star fa-lg" aria-hidden="true" ng-class="{'fa-star-o': day.dayDegree<1}" ></i>
                <i class="fa fa-star fa-lg" aria-hidden="true" ng-class="{'fa-star-o': day.dayDegree<2}" ></i>
                <i class="fa fa-star fa-lg" aria-hidden="true" ng-class="{'fa-star-o': day.dayDegree<3}" ></i>
            </div>
        </div>
        <div class="col s3" x-ng-if="day.duration>0">
            {{day.duration | duration : "hh:mm:ss"}}
        </div>
    </li>
    <li class="collection-item row" x-ng-if="vm.tracklog && !track.show">
        <h5><center>{{'msg.log.tracks.empty' |i18n}}</center></h5>
    </li>
    <li class="collection-item row" x-ng-repeat="track in vm.month.track_set" x-ng-if="vm.tracklog && track.show">
        <div class="col s2" >
            <span x-ng-if="vm.isDateToShow($index)">
                <a href="/{{vm.path.language}}/tracks/{{track.started_at | date : 'yyyy-MM-dd'}}">{{track.started_at | date : "yyyy-MM-dd"}}</a>
            </span>
        </div>
        <div class="col s7">
            <a class="padding-right" x-ng-if="track.employer" tooltipped="{{!!track.employer.descr}}" data-position="bottom" data-delay="50" data-html=true" data-tooltip="{{track.employer.descr}}">
                <i class="fa fa-university fa-padding grey-text" aria-hidden="true"></i>{{track.employer.name}}
            </a>
            <a class="padding-right" x-ng-if="track.project" tooltipped="{{!!track.project.descr}}" data-position="bottom" data-delay="50" data-html=true" data-tooltip="{{track.project.descr}}">
                <i class="fa fa-sticky-note fa-padding grey-text" aria-hidden="true"></i>{{track.project.name}}
            </a>
            <a class="padding-right" x-ng-if="track.task" tooltipped="{{!!track.task.descr}}" data-position="bottom" data-delay="50" data-html=true" data-tooltip="{{track.task.descr}}">
                <i class="fa fa-tasks fa-padding grey-text " aria-hidden="true"></i>{{track.task.name}}
            </a>
            <a class="padding-right" x-ng-if="track.client" tooltipped="{{!!track.client.descr}}" data-position="bottom" data-delay="50" data-html=true" data-tooltip="{{track.client.descr}}">
                <i class="fa fa-user fa-padding grey-text" aria-hidden="true"></i>{{track.client.name}}
            </a>
            <br/>
            <div class="truncate">{{track.descr}}</div>
        </div>
        <div class="col s3">
            <i class="fa fa-clock-o" aria-hidden="true"></i>
            <strong><ceneter>{{vm.getDiff(track.stoped_at, track.started_at) | amUtc | amDateFormat: "HH:mm:ss"}}</ceneter></strong><br/>
            {{track.started_at | date : "HH:mm"}} - {{track.stoped_at | date : "HH:mm"}}
        </div>
    </li>
    <li class="collection-item row" >
        <div class="col s9">
            <strong class="right">{{'field.total'|i18n}}:</strong>
        </div>
        <div class="col s3">
            <strong>{{vm.stats.total | duration : "hh:mm:ss"}}</strong>
        </div>
    </li>
</ul>

<div class="row card-panel hoverable" x-ng-if="vm.statslog">
    <div class="col l3 m6 s12">
        <h5 class="center-align"><i class="fa fa-university fa-padding" aria-hidden="true"></i>{{'kind.employers'|i18n}}</h5>
        <canvas id="doughnutEmployer" class="chart chart-doughnut" chart-options="vm.doughnutOptions"
                chart-data="vm.stats.doughnutEmployerData" chart-labels="vm.stats.doughnutEmployerLabel" style="width: 150px; height: 150px;"></canvas>
        <table>
        <thead>
            <tr>
                <th>{{'kind.employer'|i18n}}</th>
                <th>{{'field.duration'|i18n}}</th>
            </tr>
        </thead>
            <tbody>
                <tr x-ng-repeat="employer in vm.stats.employers">
                    <td>{{employer.name}}</td>
                    <td>{{employer.duration | duration : "hh:mm"}}</td>
                </tr>
                <tr>
                    <td>{{'field.total' | i18n}}:</td>
                    <td>{{vm.stats.total | duration : "hh:mm"}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col l3 m6 s12">
        <h5 class="center-align"><i class="fa fa-sticky-note fa-padding" aria-hidden="true"></i>{{'kind.projects'|i18n}}</h5>
        <canvas id="doughnutProject" class="chart chart-doughnut" chart-options="vm.doughnutOptions"
                chart-data="vm.stats.doughnutProjectData" chart-labels="vm.stats.doughnutProjectLabel" style="width: 150px; height: 150px;"></canvas>
        <table>
        <thead>
            <tr>
                <th>{{'kind.project'|i18n}}</th>
                <th>{{'field.duration'|i18n}}</th>
            </tr>
        </thead>
            <tbody>
                <tr x-ng-repeat="project in vm.stats.projects">
                    <td>{{project.name}}</td>
                    <td>{{project.duration | duration : "hh:mm"}}</td>
                </tr>
                <tr>
                    <td>{{'field.total' | i18n}}:</td>
                    <td>{{vm.stats.total | duration : "hh:mm"}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col l3 m6 s12">
        <h5 class="center-align"><i class="fa fa-tasks fa-padding" aria-hidden="true"></i>{{'kind.tasks'|i18n}}</h5>
        <canvas id="doughnutTask" class="chart chart-doughnut" chart-options="vm.doughnutOptions"
                chart-data="vm.stats.doughnutTaskData" chart-labels="vm.stats.doughnutTaskLabel" style="width: 150px; height: 150px;"></canvas>
        <table>
        <thead>
            <tr>
                <th>{{'kind.task'|i18n}}</th>
                <th>{{'field.duration'|i18n}}</th>
            </tr>
        </thead>
            <tbody>
                <tr x-ng-repeat="task in vm.stats.tasks">
                    <td>{{task.name}}</td>
                    <td>{{task.duration | duration : "hh:mm"}}</td>
                </tr>
                <tr>
                    <td>{{'field.total' | i18n}}:</td>
                    <td>{{vm.stats.total | duration : "hh:mm"}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col l3 m6 s12">
        <h5 class="center-align"><i class="fa fa-user fa-padding" aria-hidden="true"></i>{{'kind.clients'|i18n}}</h5>
        <canvas id="doughnutClient" class="chart chart-doughnut" chart-options="vm.doughnutOptions"
                chart-data="vm.stats.doughnutClientData" chart-labels="vm.stats.doughnutClientLabel" style="width: 150px; height: 150px;"></canvas>
        <table>
        <thead>
            <tr>
                <th>{{'kind.client'|i18n}}</th>
                <th>{{'field.duration'|i18n}}</th>
            </tr>
        </thead>
            <tbody>
                <tr x-ng-repeat="client in vm.stats.clients">
                    <td>{{client.name}}</td>
                    <td>{{client.duration | duration : "hh:mm"}}</td>
                </tr>
                <tr>
                    <td>{{'field.total' | i18n}}:</td>
                    <td>{{vm.stats.total | duration : "hh:mm"}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
