<header class="title"><i class="fa fa-sticky-note fa-padding" aria-hidden="true"></i>{{'kind.projects'|i18n}}</header>

<ul tabs class="tabs" reload="allTabContentLoaded">
    <li class="tab"><a href="#current">{{'kind.project.current' | i18n}}</a></li>
    <li class="tab"><a href="#nocurrent">{{'kind.project.done' | i18n}}</a></li>
</ul>
<div id="nocurrent">
    <ul class="collapsible popout" data-collapsible="accordion">
        <li x-ng-repeat="project in vm.projects | orderBy :'name'" x-ng-if="project.done">
                    <div class="collapsible-header">
                {{project.name}}
                <span x-ng-if="project.employer" style="font-style: italic; margin-left:20px">{{project.employer.name}}</span>
            </div>
            <div class="collapsible-body nopadding">
                <div class="row" >
                    <div class="col s12 m4">
                        <h5>{{'field.params'|i18n}}</h5>
                        <p><strong>{{'kind.employer'|i18n}}: </strong>{{project.employer.name}}</p>
                        <p><strong>{{'field.descr'|i18n}}: </strong>{{project.descr}}</p>
                    </div>
                    <div class="col s12 m4">
                        <h5>{{'kind.tasks'|i18n}}</h5>
                        <ul>
                            <li x-ng-repeat="task in vm.tasks | orderBy :'name'" x-ng-if="vm.isActive(task.project, project.id)" x-ng-click="vm.removeTaskToProject(project, task)">
                                {{task.name}}
                            </li>
                        </ul>
                    </div>
                    <div class="col s12 m4">
                        <h5>{{'kind.clients'|i18n}}</h5>
                        <ul>
                            <li x-ng-repeat="client in vm.clients | orderBy :'name'" x-ng-if="vm.isActive(client.project, project.id)" x-ng-click="vm.removeClientToProject(project, client)">
                                {{task.name}}
                            </li>
                        </ul>
                    </div>
                    <div class="col s12">
                        <button class="waves-effect waves-light btn green" x-ng-click="vm.doneProject(project, false)">
                            <i class="fa fa-undo" aria-hidden="true"></i>{{'btn.undo' | i18n}}
                        </button>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
<div id="current">
    <ul class="collapsible popout" data-collapsible="accordion">
        <li x-ng-repeat="project in vm.projects | orderBy :'name'" x-ng-if="!project.done">
            <div class="collapsible-header">
                {{project.name}}
                <span x-ng-if="project.employer" style="font-style: italic; margin-left:20px">{{project.employer.name}}</span>
            </div>
            <div class="collapsible-body nopadding">
                <div class="row" >
                    <div class="col s12">
                        <ul tabs reload="allTabContentLoaded">
                            <li class="tab pointer"><a class="active" href="#descrTab{{$index}}">{{'field.params'|i18n}}</a></li>
                            <li class="tab pointer"><a href="#taskTab{{$index}}">{{'kind.tasks'|i18n}}</a></li>
                            <li class="tab pointer"><a href="#clientTab{{$index}}">{{'kind.clients'|i18n}}</a></li>
                            <li class="tab pointer">
                                <a x-ng-click="vm.editProjectFn(project)" data-target='editProjectModal' modal>
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li class="tab pointer right">
                                <a x-ng-click="vm.doneProject(project, true)">
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div id="descrTab{{$index}}" class="col s12">
                        <p><strong>{{'kind.employer'|i18n}}: </strong>{{project.employer.name}}</p>
                        <p><strong>{{'field.descr'|i18n}}: </strong>{{project.descr}}</p>
                    </div>
                    <div id="taskTab{{$index}}" class="col s12">
                        <ul class="collection">
                            <li class="collection-item row" x-ng-repeat="task in vm.tasks | orderBy :'name'">
                                <div class="col s9">{{task.name}}</div>
                                <div class="col s2">
                                    <button class="waves-effect waves-light btn red" x-ng-if="vm.isActive(task.project, project.id)" x-ng-click="vm.removeTaskToProject(project, task)">
                                        <i class="fa fa-minus" aria-hidden="true"></i>
                                    </button>
                                    <button class="waves-effect waves-light btn green" x-ng-if="!vm.isActive(task.project, project.id)" x-ng-click="vm.addTaskToProject(project, task)">
                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div id="clientTab{{$index}}" class="col s12">
                        <ul class="collection">
                            <li class="collection-item row" x-ng-repeat="client in vm.clients | orderBy :'name'">
                                <div class="col s9">{{client.name}}</div>
                                <div class="col s2">
                                    <button class="waves-effect waves-light btn red" x-ng-if="vm.isActive(client.project, project.id)" x-ng-click="vm.removeClientToProject(project, client)">
                                        <i class="fa fa-minus" aria-hidden="true"></i>
                                    </button>
                                    <button class="waves-effect waves-light btn green" x-ng-if="!vm.isActive(client.project, project.id)" x-ng-click="vm.addClientToProject(project, client)">
                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>

<!-- Modal Structure -->
<div id="editProjectModal" class="modal modal-fixed-footer">
    <div class="modal-content">
        <form name="projectEditForm" class="row">
            <div class="form-group label-floating  col s6">
                <label class="control-label" for="nameEditInput">
                    {{'field.name'|i18n}}
                </label>
                <input class="form-control" id="nameEditInput" name="nameEditInput" type="text" x-ng-model="vm.editProject.name">
            </div>
            <div class="form-group label-floating  col s6">
                <label class="control-label" for="employerInput">
                    {{'kind.employer'|i18n}}
                </label>
                <select class="form-control" id="employerInput" name="employerInput" ng-model="vm.editProject.employer" material-select  watch ng-options="employer.name for employer in vm.employers track by employer.id">
                </select>
            </div>
            <div class="form-group label-floating  col s12">
                <label class="control-label" for="descrEditInput">
                    {{'field.descr'|i18n}}
                </label>
                <input class="form-control" id="descrEditInput" name="descrEditInput" type="text" x-ng-model="vm.editProject.descr">
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="modal-action modal-close waves-effect waves-light btn green" x-ng-click="vm.saveProject(vm.editProject)" x-ng-if="vm.add">{{'btn.add'|i18n}}</button>
        <button class="modal-action modal-close waves-effect waves-light btn green" x-ng-click="vm.updateProject(vm.editProject)" x-ng-if="vm.edit">{{'btn.save'|i18n}}</button>
        <button class="modal-action modal-close waves-effect waves-light btn red" x-ng-click="vm.edit=false">{{'btn.cancel'|i18n}}</button>
    </div>
</div>
<a id="add" class="btn-floating btn-large waves-effect waves-light green btn-add-new" x-ng-click="vm.newProjectFn()" data-target='editProjectModal' modal>
    <i class="fa fa-plus" aria-hidden="true"></i>
</a>

<a class="btn-floating btn-large blue discover-new" x-ng-if="vm.projects.length==0">
      <h5>{{'field.noProjects.title' | i18n}}</h5>
      <p>{{'field.noProjects.descr' | i18n}}</p>
    <a class="btn-floating btn-large white discover-new-small pulse" x-ng-if="vm.projects.length==0"></a>
</a>