<header class="title"><i class="fa fa-id-card-o fa-padding" aria-hidden="true"></i>{{'kind.profile'|i18n}}</header>

<div class="row">
    <div class="col s12">
        <div class="card">
            <div class="col s12">
                <ul tabs reload="allTabContentLoaded">
                    <li class="tab pointer"><a class="active" href="#descrTab{{$index}}">{{'field.params'|i18n}}</a></li>
                    <li class="tab pointer">
                        <a x-ng-click="vm.editProfileFn()" data-target='editProfileModal' modal>
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="card-content">
                <p><strong>{{'field.username'|i18n}}: </strong>{{vm.profile.username}}</p>
                <p><strong>{{'field.firstname'|i18n}}: </strong>{{vm.profile.first_name}}</p>
                <p><strong>{{'field.lastname'|i18n}}: </strong>{{vm.profile.last_name}}</p>
                <p><strong>{{'field.email'|i18n}}: </strong>{{vm.profile.email}}</p>
            </div>
        </div>
    </div>
</div>

<!-- Modal Structure -->
<div id="editProfileModal" class="modal modal-fixed-footer">
    <div class="modal-content">
        <form name="profileEditForm" class="row">
            <div class="form-group label-floating  col s6">
                <label class="control-label" for="firstnameEditInput">
                    {{'field.firstname'|i18n}}
                </label>
                <input class="form-control" id="firstnameEditInput" name="nameEditInput" type="text" x-ng-model="vm.editProfile.first_name">
            </div>
            <div class="form-group label-floating  col s6">
                <label class="control-label" for="lastnameEditInput">
                    {{'field.lastname'|i18n}}
                </label>
                <input class="form-control" id="lastnameEditInput" name="descrEditInput" type="text" x-ng-model="vm.editProfile.last_name">
            </div>
            <div class="form-group label-floating  col s6">
                <label class="control-label" for="emailEditInput">
                    {{'field.email'|i18n}}
                </label>
                <input class="form-control" id="emailEditInput" name="descrEditInput" type="text" x-ng-model="vm.editProfile.email">
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="modal-action modal-close waves-effect waves-light btn green" x-ng-click="vm.updateProfile(vm.editProfile)">{{'btn.save'|i18n}}</button>
        <button class="modal-action modal-close waves-effect waves-light btn red" x-ng-click="vm.edit=false">{{'btn.cancel'|i18n}}</button>
    </div>
</div>