<header class="title"><i class="fa fa-university fa-padding" aria-hidden="true"></i>{{'kind.employers'|i18n}}</header>

<ul class="collapsible popout" data-collapsible="accordion">
    <li x-ng-repeat="employer in vm.employers | orderBy :'name'" >
        <div class="collapsible-header">
            {{employer.name}}
            <span x-ng-if="employer.default" style="font-style: italic; margin-left:20px">{{'field.default' | i18n}}</span>
        </div>
        <div class="collapsible-body nopadding">
            <div class="row" >
                <div class="col s12">
                    <ul tabs reload="allTabContentLoaded">
                        <li class="tab pointer"><a class="active" href="#descrTab{{$index}}">{{'field.params'|i18n}}</a></li>
                        <li class="tab pointer">
                            <a x-ng-click="vm.editEmployerFn(employer)" data-target='editEmployerModal' modal>
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="tab pointer right">
                            <a x-ng-click="vm.doneEmployer(employer)">
                                <i class="fa fa-times" aria-hidden="true"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div id="descrTab{{$index}}" class="col s12">
                    <p>
                      <input type="checkbox" id="defaultField1" x-ng-model="employer.default" disabled="disabled"/>
                      <label for="defaultField1">{{'field.default' | i18n}}</label>
                    </p>
                </div>
            </div>
        </div>
    </li>
</ul>
<!-- Modal Structure -->
<div id="editEmployerModal" class="modal modal-fixed-footer">
    <div class="modal-content">
        <form name="employerEditForm" class="row">
            <div class="form-group label-floating  col s6">
                <label class="control-label" for="nameEditInput">
                    {{'field.name'|i18n}}
                </label>
                <input class="form-control" id="nameEditInput" name="nameEditInput" type="text" x-ng-model="vm.editEmployer.name">
            </div>
            <div class="form-group label-floating  col s12">
                 <input type="checkbox" id="defaultField2" x-ng-model="vm.editEmployer.default"/>
                  <label for="defaultField2">{{'field.default' | i18n}}</label>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="modal-action modal-close waves-effect waves-light btn green" x-ng-click="vm.saveEmployer(vm.editEmployer)" x-ng-if="vm.add">{{'btn.add'|i18n}}</button>
        <button class="modal-action modal-close waves-effect waves-light btn green" x-ng-click="vm.updateEmployer(vm.editEmployer)" x-ng-if="vm.edit">{{'btn.save'|i18n}}</button>
        <button class="modal-action modal-close waves-effect waves-light btn red" x-ng-click="vm.edit=false">{{'btn.cancel'|i18n}}</button>
    </div>
</div>
<a id="add" class="btn-floating btn-large waves-effect waves-light green btn-add-new" x-ng-click="vm.newEmployerFn()" data-target='editEmployerModal' modal>
    <i class="fa fa-plus" aria-hidden="true"></i>
</a>

<a class="btn-floating btn-large blue discover-new" x-ng-if="vm.employers.length==0">
        <h5>{{'field.noEmployers.title'|i18n}}</h5>
        <p>{{'field.noEmployers.descr'|i18n}}</p>
    <a class="btn-floating btn-large white discover-new-small pulse" x-ng-if="vm.employers.length==0"></a>
</a>
























<!--<div class="row">-->
    <!--<div class="col s3">-->
        <!--<ul class="collection  with-header">-->
            <!--<li class="collection-header"><h4>Employers</h4></li>-->
            <!--<a class="collection-item" x-ng-repeat="employer in vm.employers | orderBy :'name'" x-ng-click="vm.employer=employer">-->
                <!--{{employer.name}}-->
            <!--</a>-->
            <!--<a class="collection-item green active" x-ng-click="vm.add=true">-->
                <!--<i class="fa fa-plus" aria-hidden="true"></i>-->
                <!--Add-->
            <!--</a>-->
        <!--</ul>-->
    <!--</div>-->
    <!--<div class="col s9" x-ng-if="vm.add">-->
        <!--<form name="employerNewForm" class="row" >-->
            <!--<div class="form-group label-floating  col s6">-->
                <!--<label class="control-label" for="nameNewInput">-->
                    <!--Name-->
                    <!--<small style="color:red;" x-ng-if="!employerNewForm.nameNewInput.$valid">required</small>-->
                <!--</label>-->
                <!--<input class="form-control" id="nameNewInput" name="nameNewInput" type="text" x-ng-model="vm.newEmployer.name" x-required="">-->
            <!--</div>-->
            <!--<div class="input-field col s12  right-align">-->
                <!--<button class="waves-effect waves-light btn green" x-ng-click="vm.saveEmployer(vm.newEmployer)">Save</button>-->
                <!--<button class="waves-effect waves-light btn red" x-ng-click="vm.add=false">Cancel</button>-->
            <!--</div>-->
        <!--</form>-->
    <!--</div>-->
    <!--<div class="col s9" x-ng-if="!vm.add">-->
        <!--<div class="row">-->
            <!--<div class="col s12">-->
                <!--<div x-ng-if="!vm.edit">-->
                    <!--<h4>-->
                        <!--{{vm.employer.name}}-->
                        <!--<a class="waves-effect waves-teal btn-flat" x-ng-click="vm.editEmployerFn(vm.employer)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>-->
                    <!--</h4>-->
                <!--</div>-->
                <!--<form name="employerEditForm" class="row" x-ng-if="vm.edit">-->
                    <!--<div class="form-group label-floating  col s6">-->
                        <!--<label class="control-label" for="nameEditInput">-->
                            <!--Name-->
                            <!--<small style="color:red;"x-ng-if="!employerEditForm.nameEditInput.$valid">required</small>-->
                        <!--</label>-->
                        <!--<input class="form-control" id="nameEditInput" name="nameEditInput" type="text" x-ng-model="vm.editEmployer.name">-->
                    <!--</div>-->
                    <!--<div class="input-field col s12  right-align">-->
                        <!--<button class="waves-effect waves-light btn green" x-ng-click="vm.updateEmployer(vm.editEmployer)">Save</button>-->
                        <!--<button class="waves-effect waves-light btn red" x-ng-click="vm.edit=false">Cancel</button>-->
                    <!--</div>-->
                <!--</form>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
