<header class="title"><i class="fa fa-tasks fa-padding" aria-hidden="true"></i>{{'kind.tasks'|i18n}}</header>

<ul class="collapsible popout" data-collapsible="accordion">
    <li x-ng-repeat="task in vm.tasks | orderBy :'name'" >
        <div class="collapsible-header">{{task.name}}</div>
        <div class="collapsible-body nopadding">
            <div class="row" >
                <div class="col s12">
                    <ul tabs reload="allTabContentLoaded">
                        <li class="tab col s3"><a class="active" href="#descrTab{{$index}}">{{'field.params'|i18n}}</a></li>
                        <li class="tab pointer"><a href="#projectTab{{$index}}">{{'kind.projects'|i18n}}</a></li>
                        <li class="tab col s3 offset-s6">
                            <a x-ng-click="vm.editTaskFn(task)" data-target='editTaskModal' modal>
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div id="descrTab{{$index}}" class="col s12">
                    <p><strong>{{'field.descr'|i18n}}: </strong>{{task.descr}}</p>
                </div>
                <div id="projectTab{{$index}}" class="col s12">
                    <ul class="collection">
                        <li class="collection-item row" x-ng-repeat="project in vm.projects | orderBy :'name'">
                            <div class="col s9">{{project.name}}</div>
                            <div class="col s2">
                                <button class="waves-effect waves-light btn red" x-ng-if="vm.isActive(task.project, project.id)" x-ng-click="vm.removeTaskToProject(project, task)">
                                    <i class="fa fa-minus" aria-hidden="true"></i>
                                </button>
                                <button class="waves-effect waves-light btn green" x-ng-if="!vm.isActive(task.project, project.id)" x-ng-click="vm.addTaskToProject(project, task)">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                </button>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </li>
</ul>
<!-- Modal Structure -->
<div id="editTaskModal" class="modal modal-fixed-footer">
    <div class="modal-content">
        <form name="taskEditForm" class="row">
            <div class="form-group label-floating  col s6">
                <label class="control-label" for="nameEditInput">
                    {{'field.name'|i18n}}
                </label>
                <input class="form-control" id="nameEditInput" name="nameEditInput" type="text" x-ng-model="vm.editTask.name">
            </div>
            <div class="form-group label-floating  col s12">
                <label class="control-label" for="nameDescrInput">
                    {{'field.descr'|i18n}}
                </label>
                <input class="form-control" id="nameDescrInput" name="nameDescrInput" type="text" x-ng-model="vm.editTask.descr">
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="modal-action modal-close waves-effect waves-light btn green" x-ng-click="vm.saveTask(vm.editTask)" x-ng-if="vm.add">{{'btn.add'|i18n}}</button>
        <button class="modal-action modal-close waves-effect waves-light btn green" x-ng-click="vm.updateTask(vm.editTask)" x-ng-if="vm.edit">{{'btn.save'|i18n}}</button>
        <button class="modal-action modal-close waves-effect waves-light btn red" x-ng-click="vm.edit=false">{{'btn.cancel'|i18n}}</button>
    </div>
</div>
<a id="add" class="btn-floating btn-large waves-effect waves-light green btn-add-new" x-ng-click="vm.newTaskFn()" data-target='editTaskModal' modal>
    <i class="fa fa-plus" aria-hidden="true"></i>
</a>

<a class="btn-floating btn-large blue discover-new" x-ng-if="vm.tasks.length==0">
        <h5>{{'field.noTasks.title'|i18n}}</h5>
        <p>{{'field.noTasks.descr'|i18n}}</p>
    <a class="btn-floating btn-large white discover-new-small pulse" x-ng-if="vm.tasks.length==0"></a>
</a>























<!--<div class="row">-->
    <!--<div class="col s3">-->
        <!--<ul class="collection  with-header">-->
            <!--<li class="collection-header"><h4>Tasks</h4></li>-->
            <!--<a class="collection-item" x-ng-repeat="task in vm.tasks | orderBy :'name'" x-ng-click="vm.task=task">-->
                <!--{{task.name}}-->
            <!--</a>-->
            <!--<a class="collection-item green active" x-ng-click="vm.add=true">-->
                <!--<i class="fa fa-plus" aria-hidden="true"></i>-->
                <!--Add-->
            <!--</a>-->
        <!--</ul>-->
    <!--</div>-->
    <!--<div class="col s9" x-ng-if="vm.add">-->
        <!--<form name="taskNewForm" class="row" >-->
            <!--<div class="form-group label-floating  col s6">-->
                <!--<label class="control-label" for="nameNewInput">-->
                    <!--Name-->
                    <!--<small style="color:red;" x-ng-if="!taskNewForm.nameNewInput.$valid">required</small>-->
                <!--</label>-->
                <!--<input class="form-control" id="nameNewInput" name="nameNewInput" type="text" x-ng-model="vm.newTask.name" x-required="">-->
            <!--</div>-->
            <!--<div class="input-field col s12  right-align">-->
                <!--<button class="waves-effect waves-light btn green" x-ng-click="vm.saveTask(vm.newTask)">Save</button>-->
                <!--<button class="waves-effect waves-light btn red" x-ng-click="vm.add=false">Cancel</button>-->
            <!--</div>-->
        <!--</form>-->
    <!--</div>-->
    <!--<div class="col s9" x-ng-if="!vm.add">-->
        <!--<div class="row">-->
            <!--<div class="col s12">-->
                <!--<div x-ng-if="!vm.edit">-->
                    <!--<h4>-->
                        <!--{{vm.task.name}}-->
                        <!--<a class="waves-effect waves-teal btn-flat" x-ng-click="vm.editTaskFn(vm.task)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>-->
                    <!--</h4>-->
                <!--</div>-->
                <!--<form name="taskEditForm" class="row" x-ng-if="vm.edit">-->
                    <!--<div class="form-group label-floating  col s6">-->
                        <!--<label class="control-label" for="nameEditInput">-->
                            <!--Name-->
                            <!--<small style="color:red;"x-ng-if="!taskEditForm.nameEditInput.$valid">required</small>-->
                        <!--</label>-->
                        <!--<input class="form-control" id="nameEditInput" name="nameEditInput" type="text" x-ng-model="vm.editTask.name">-->
                    <!--</div>-->
                    <!--<div class="input-field col s12  right-align">-->
                        <!--<button class="waves-effect waves-light btn green" x-ng-click="vm.updateTask(vm.editTask)">Save</button>-->
                        <!--<button class="waves-effect waves-light btn red" x-ng-click="vm.edit=false">Cancel</button>-->
                    <!--</div>-->
                <!--</form>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
