<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/pl_PL/sdk.js#xfbml=1&version=v2.9";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="hide-on-small-only" style="left: 0px; position: absolute; width: 100%;">

    <div class="parallax-container" style="height: 800px">
        <div parallax>
            <img src="static/img/backgroud.jpg">
        </div>
        <div class="card z-depth-3 home-section" style="background-color: rgba(96, 125, 139, 0.2) !important; margin-top: 50px;">
            <h1 class="jobowl center-align">
                <img class="center-align" src="../static/img/logo.png"/>
                JobOWL
            </h1>
            <h3 class="center-align gray-text text-darken-4">
                {{'home.header.1' | i18n}}
            </h3>
            <h5 class="center-align gray-text text-darken-4">
                {{'home.header.2' | i18n}}
            </h5>
        </div>
        <div class="center-align">
            <a href="/pl/login" class="waves-effect waves-light btn-large light-blue darken-4">{{'btn.login' | i18n}}</a>
            <a href="/pl/register" class="waves-effect waves-light btn-large light-blue darken-4">{{'btn.register' | i18n}}</a>
        </div>
        <div class="white" style="position: absolute; bottom: 0px; right: 0px; padding:5px">
            <div class="fb-like" data-href="https://www.facebook.com/Jobowl-840858592744995/" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
        </div>
    </div>

    <div id="features" class="section white">
        <ul id="track">
            <li class="home-section" style="opacity: 0;">
                <div class="row container">
                    <div class="col s6">
                        <img class="center-align" src="../static/img/trackwork.png" style="width: 100%">
                    </div>
                    <div class="col s6">
                        <h3 class="header light-blue-text text-darken-4">
                            <i class="fa fa-clock-o fa-padding" aria-hidden="true"></i>
                            {{'home.track.title'|i18n}}
                        </h3>
                        <p class="grey-text text-darken-3 lighten-3">{{'home.track.descr'|i18n}}</p>
                    </div>
                </div>
            </li>
        </ul>
        <ul id="todos">
            <li class="home-section" style="opacity: 0;">
                <div class="row container">
                    <div class="col s6">
                        <h3 class="header light-blue-text text-darken-4">
                            <i class="fa fa-check-square-o fa-padding" aria-hidden="true"></i>
                            {{'home.todos.title'|i18n}}
                        </h3>
                        <p class="grey-text text-darken-3 lighten-3">{{'home.todos.descr'|i18n}}</p>
                    </div>
                    <div class="col s6">
                        <img class="center-align" src="../static/img/todos.png" style="width: 100%">
                    </div>
                </div>
            </li>
        </ul>
        <ul id="reports">
            <li class="home-section" style="opacity: 0;">
            <div class="row container">
                <div class="col s6">
                    <img class="center-align" src="../static/img/makereport.png" style="width: 100%">
                </div>
                <div class="col s6">
                    <h3 class="header light-blue-text text-darken-4">
                        <i class="fa fa-line-chart fa-padding" aria-hidden="true"></i>
                        {{'home.reports.title'|i18n}}
                    </h3>
                    <p class="grey-text text-darken-3 lighten-3">{{'home.reports.descr'|i18n}}</p>
                </div>
            </div>
            </li>
        </ul>
    </div>




    <!--<div id="features" class="section white home-section">-->
        <!--<div class="row container">-->
            <!--<div class="col s6">-->
                <!--<img class="center-align" src="../static/img/trackwork.png" style="width: 100%">-->
            <!--</div>-->
            <!--<div class="col s6">-->
                <!--<h3 class="header light-blue-text text-darken-4">-->
                    <!--<i class="fa fa-clock-o fa-padding" aria-hidden="true"></i>-->
                    <!--{{'home.track.title'|i18n}}-->
                <!--</h3>-->
                <!--<p class="grey-text text-darken-3 lighten-3">{{'home.track.descr'|i18n}}</p>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="section white home-section">-->
        <!--<div class="row container">-->
            <!--<div class="col s6">-->
                <!--<h3 class="header light-blue-text text-darken-4">-->
                    <!--<i class="fa fa-check-square-o fa-padding" aria-hidden="true"></i>-->
                    <!--{{'home.todos.title'|i18n}}-->
                <!--</h3>-->
                <!--<p class="grey-text text-darken-3 lighten-3">{{'home.todos.descr'|i18n}}</p>-->
            <!--</div>-->
            <!--<div class="col s6">-->
                <!--<img class="center-align" src="../static/img/todos.png" style="width: 100%">-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="section white home-section">-->
        <!--<div class="row container">-->
            <!--<div class="col s6">-->
                <!--<img class="center-align" src="../static/img/makereport.png" style="width: 100%">-->
            <!--</div>-->
            <!--<div class="col s6">-->
                <!--<h3 class="header light-blue-text text-darken-4">-->
                    <!--<i class="fa fa-line-chart fa-padding" aria-hidden="true"></i>-->
                    <!--{{'home.reports.title'|i18n}}-->
                <!--</h3>-->
                <!--<p class="grey-text text-darken-3 lighten-3">{{'home.reports.descr'|i18n}}</p>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

    <div class="parallax-container home-section">
        <div parallax><img src="static/img/backgroud2.jpg"></div>
        <div class="row container valign-wrapper" style="height: 100%;">
            <ul id="responsive">
                <li class="home-section" style="opacity: 0;">
                    <div class="col s7 card white z-depth-3" style="padding: 25px;">
                        <h3 class="header light-blue-text text-darken-4">
                            <i class="fa fa-mobile fa-padding" aria-hidden="true"></i>
                            {{'home.responsive.title'|i18n}}
                        </h3>
                        <p class="grey-text text-darken-3 lighten-3">{{'home.responsive.descr'|i18n}}</p>
                    </div>
                    <div class="col s5">
                        <img class="center-align" src="../static/img/responsive.png" style="width: 100%">
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="section white home-section">
        <div class="row container">
            <h3><center>{{'home.final'|i18n}}</center></h3>
            <div class="center-align">
                <a href="/pl/login" class="waves-effect waves-light btn-large light-blue darken-4">{{'btn.login' | i18n}}</a>
                <a href="/pl/register" class="waves-effect waves-light btn-large light-blue darken-4">{{'btn.register' | i18n}}</a>
            </div>
        </div>
    </div>

    <footer class="page-footer light-blue darken-1" style="padding-left:0px">
        <div class="container">
            <div class="row">
                <div class="col m4 s5">
                    <h5 class="white-text">{{'home.footer.left'|i18n}}</h5>
                    <p class="grey-text text-lighten-4">
                        <div class="fb-like" data-href="https://www.facebook.com/Jobowl-840858592744995/" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
                    </p>
                </div>
                <div class="col m4 s2 center-align">
                    <img id="logo"  style="opacity: 0;" src="../static/img/logo.png">
                </div>
                <div class="col m4 s5">
                    <h5 class="white-text">{{'home.footer.right'|i18n}}</h5>
                    <p class="grey-text text-lighten-4">contact@jobowl.eu</p>
                </div>
                <!--<div class="col l6 s12">-->
                    <!--<h5 class="white-text">Footer Content</h5>-->
                    <!--<p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>-->
                <!--</div>-->
                <!--<div class="col l4 offset-l2 s12">-->
                    <!--<h5 class="white-text">Links</h5>-->
                    <!--<ul>-->
                        <!--<li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>-->
                        <!--<li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>-->
                        <!--<li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>-->
                        <!--<li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>-->
                    <!--</ul>-->
                <!--</div>-->
            </div>
        </div>
        <div class="footer-copyright light-blue darken-4">
            <!--<div class="container">-->
                <!--© 2014 Copyright Text-->
                <!--<a class="grey-text text-lighten-4 right" href="#!">More Links</a>-->
            <!--</div>-->
        </div>
    </footer>
</div>

<div class="hide-on-med-and-up" x-login=""></div>