<!DOCTYPE html>
<html ng-app="jobmanager">
<head>
  <title>JOB Manager</title>
  <link rel='shortcut icon' type='image/x-icon' href='/static/stylesheets/favicon.ico' />
  <base href="/" />

  {% include 'stylesheets.html' %}
        <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>

<div x-navbar=""></div>

  <main class="">
    <div class="row">
      <div class="col s12 ng-view"></div>
    </div>
  </main>


  {% include 'javascripts.html' %}
</body>
</html>
