{% load compress %}
{% load staticfiles %}

{% compress js %}
<script type="text/javascript" src="{% static 'bower_components/jquery/dist/jquery.js' %}"></script>

<script type="text/javascript" src="{% static 'bower_components/underscore/underscore.js' %}"></script>

<script type="text/javascript" src="{% static 'bower_components/angular/angular.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-route/angular-route.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-cookies/angular-cookies.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-cookies/angular-cookies.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-duration-format/dist/angular-duration-format.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-loading-bar/build/loading-bar.js' %}"></script>

<script type="text/javascript" src="{% static 'bower_components/moment/moment.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/moment/locale/pl.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-moment/angular-moment.js' %}"></script>

<script type="text/javascript" src="{% static 'bower_components/materialize/dist/js/materialize.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-materialize/src/angular-materialize.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-materializecss-datepicker/angular-materializecss-datepicker.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-materializecss-datepicker/template.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/materialize-clockpicker/dist/js/materialize.clockpicker.js' %}"></script>

<script type="text/javascript" src="{% static 'bower_components/ngDialog/js/ngDialog.js' %}"></script>
<script type="text/javascript" src="{% static 'lib/snackbarjs/snackbar.min.js' %}"></script>

<script type="text/javascript" src="{% static 'bower_components/chart.js/dist/Chart.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-chart.js/dist/angular-chart.js' %}"></script>


<script type="text/javascript" src="{% static 'javascripts/jobmanager.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/jobmanager.config.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/jobmanager.routes.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/authentication/authentication.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/authentication/services/authentication.service.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/authentication/directives/login.directive.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/authentication/controllers/login.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/authentication/controllers/confirm.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/authentication/controllers/reset.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/layout/layout.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/layout/directives/navbar.directive.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/layout/controllers/navbar.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/home/home.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/home/controllers/home.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/help/help.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/help/controllers/help.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/utils/utils.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/utils/services/snackbar.service.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/utils/filters/filters.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/manage/manage/manage.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/manage/manage/services/manage.service.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/manage/employer/employer.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/manage/employer/controllers/employer.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/manage/employer/services/employer.service.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/manage/projects/projects.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/manage/projects/controllers/projects.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/manage/projects/services/projects.service.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/manage/tasks/tasks.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/manage/tasks/controllers/tasks.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/manage/tasks/services/tasks.service.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/manage/clients/clients.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/manage/clients/controllers/clients.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/manage/clients/services/clients.service.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/manage/profile/profile.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/manage/profile/controllers/profile.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/manage/profile/services/profile.service.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/tracks/tracks.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/tracks/controllers/tracks.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/tracks/services/tracks.service.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/todos/todos.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/todos/controllers/todos.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/todos/services/todos.service.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/report/day/day.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/report/day/services/day.service.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/report/month/month.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/report/month/services/month.service.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/report/log/log.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/report/log/controllers/log.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/report/logproject/logproject.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/report/logproject/controllers/logproject.controller.js' %}"></script>

{% endcompress %}

<script type="text/javascript" src="{% url 'django.views.i18n.javascript_catalog' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/i18n/angular-locale_' %}{{LANGUAGE_CODE}}.js"></script>