{% if user.is_authenticated %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<header>
<ul id="slide-out" class="side-nav fixed" ng-controller="NavbarController as vm" >
    <li>
        <div class="userView">
            <div class="background light-blue darken-1" >
                <img src="../static/img/background-menu.jpg">
            </div>
            <a href="/{{ LANGUAGE_CODE }}/tracks">
                <center>
                    <img class="center-align" src="../static/img/logo.png">
                    <h5 class="jobowl_nav">jobowl</h5>
                </center>

                <!--<a href="/{{ LANGUAGE_CODE }}/profile"><span class="white-text name"><i class="fa fa-id-card-o fa-padding" aria-hidden="true"></i>{{ user.username }}</span></a>-->
            </a>

            <!--<a href="#!email"><span class="white-text email">{{ user.email }}</span></a>-->
        </div>
    </li>
    <li><a class="waves-effect" href="/{{ LANGUAGE_CODE }}/tracks"><i class="fa fa-clock-o fa-padding" aria-hidden="true"></i>{% trans "Track" %}</a></li>
    <li><a class="waves-effect" href="/{{ LANGUAGE_CODE }}/todo"><i class="fa fa-check-square-o fa-padding" aria-hidden="true"></i>{% trans "Todo" %}</a></li>
    <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
            <li>
                <a class="collapsible-header">
                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                    <i class="fa fa-line-chart fa-padding" aria-hidden="true" style="font-size: 14px"></i>
                    {% trans "Report" %}
                </a>
                <div class="collapsible-body menu-collapsible">
                    <ul>
                        <li><a href="/{{ LANGUAGE_CODE }}/log/stats"><i class="fa fa-pie-chart fa-padding" aria-hidden="true"></i>{% trans "Stats" %}</a></li>
                        <li><a href="/{{ LANGUAGE_CODE }}/log/days"><i class="fa fa-calendar fa-padding" aria-hidden="true"></i>{% trans "DayLog" %}</a></li>
                        <li><a href="/{{ LANGUAGE_CODE }}/log/tracks"><i class="fa fa-tasks fa-padding" aria-hidden="true"></i>{% trans "TrackLog" %}</a></li>
                        <li><a href="/{{ LANGUAGE_CODE }}/logproject"><i class="fa fa-sticky-note fa-padding" aria-hidden="true"></i>{% trans "Projects" %}</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <a class="collapsible-header">
                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                    <i class="fa fa-pencil-square-o fa-padding" aria-hidden="true" style="font-size: 14px"></i>{% trans "Manage" %}
                </a>
                <div class="collapsible-body menu-collapsible">
                    <ul>
                        <li><a href="/{{ LANGUAGE_CODE }}/employers"><i class="fa fa-university fa-padding" aria-hidden="true"></i>{% trans "Employers" %}</a></li>
                        <li><a href="/{{ LANGUAGE_CODE }}/projects"><i class="fa fa-sticky-note fa-padding" aria-hidden="true"></i>{% trans "Projects" %}</a></li>
                        <li><a href="/{{ LANGUAGE_CODE }}/tasks"><i class="fa fa-tasks fa-padding" aria-hidden="true"></i>{% trans "Tasks" %}</a></li>
                        <li><a href="/{{ LANGUAGE_CODE }}/clients"><i class="fa fa-user fa-padding" aria-hidden="true"></i>{% trans "Clients" %}</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </li>
    <li><div class="divider"></div></li>
    <li><a href="/{{ LANGUAGE_CODE }}/profile"><i class="fa fa-id-card-o fa-padding" aria-hidden="true"></i>{% trans "Profile" %}</a></li>
    <li><a class="waves-effect" href="/{{ LANGUAGE_CODE }}/help"><i class="fa fa-question-circle-o fa-padding" aria-hidden="true"></i>{% trans "Help" %}</a></li>
    <li><a href="javascript:void(0)" ng-click="vm.logout()"><i class="fa fa-sign-out fa-padding" aria-hidden="true"></i>{% trans "Logout" %}</a></li>
</ul>
<nav class="top-nav">
    <div class="nav-wrapper light-blue darken-4">
        <!--<a href="#" class="brand-logo center">JobOWL</a>-->
        <ul class="left">
            <li >
                <a href="#" data-activates="slide-out" class="button-collapse" data-sidenav="left" data-menuwidth="300" data-closeonclick="false">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </a>
            </li>
        </ul>
    </div>
</nav>
</header>


{% else %}
<ul id="dropdown1" class="dropdown-content">
  <li><a href="/pl/">PL</a></li>
  <li><a href="/en/">EN</a></li>
</ul>
<nav>
    <div class="nav-wrapper light-blue darken-4">
        <ul class="hide-on-med-and-down">
            <li><a href="/{{ LANGUAGE_CODE }}/">{% trans "HOME" %}</a></li>
            <li><a href="/{{ LANGUAGE_CODE }}/#features">{% trans "Features" %}</a></li>
            <!--<li><a class="dropdown-button" href="#!" data-activates="dropdown1">-->
                <!--{% trans "Language" %}-->
                <!--<i class="fa fa-caret-down" aria-hidden="true"></i></a>-->
            <!--</li>-->
        </ul>
        <!--<a href="#" class="brand-logo center">JobOWL</a>-->
        <ul class="right hide-on-med-and-down">
            <li><a href="/{{ LANGUAGE_CODE }}/login">{% trans "Login" %}</a></li>
            <li><a href="/{{ LANGUAGE_CODE }}/register">{% trans "Register" %}</a></li>
        </ul>
    </div>
</nav>
{% endif %}