<div style="position: absolute; width: 100%; left: 0px;">
    <div class="row">
      <div class="col s12 m4 offset-m4">

        <div class="card-panel hoverable">
        <h1>{{'field.confirm'|i18n}}</h1>
            <div x-ng-if="vm.success">
                {{'msg.registerSucces.title'|i18n}}
            </div>
            <div x-ng-if="vm.error">
                {{'msg.registerError.title'|i18n}}
            </div>
        </div>
      </div>
    </div>
</div>