
<div style="position: absolute; width: 100%; left: 0px;">

    <div class="row">
        <div class="col s12 m4 offset-m4">
            <div class="card hoverable">
                <div class="card-action" x-ng-if="!vm.procesing">
                    <a href="#" x-ng-click="vm.changetoLogin();">{{'field.login'|i18n}}</a>
                    <a href="#" x-ng-click="vm.changetoRegister();">{{'field.register'|i18n}}</a>
                </div>
                <div class="card-content" x-ng-if="vm.loginRegister==0">
                    <span class="card-title">{{'field.login'|i18n}}</span>
                    <form role="form" ng-submit="vm.login()">
                        <div class="alert alert-danger" ng-show="error" ng-bind="error"></div>

                        <div class="form-group">
                            <label for="login__email">{{'field.email'|i18n}}</label>
                            <input type="text" class="form-control" id="login__email" ng-model="vm.email" placeholder="ex. john@example.com" />
                        </div>

                        <div class="form-group">
                            <label for="login__password">{{'field.pass'|i18n}}</label>
                            <input type="password" class="form-control" id="login__password" ng-model="vm.password" placeholder="ex. thisisnotgoogleplus" />
                        </div>
                        <a href="#" x-ng-click="vm.changetoRemind();" style="text-decoration: underline;">{{'field.remind'|i18n}} >></a>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary blue">{{'btn.login'|i18n}}</button>
                        </div>
                    </form>
                </div>
                <div class="card-content" x-ng-if="vm.loginRegister==1">
                    <span class="card-title">{{'field.register'|i18n}}</span>
                    <form role="form" ng-submit="vm.register()" x-ng-if="!vm.registerSuccess">
                        <div class="form-group">
                            <label for="register__email">{{'field.email'|i18n}}</label>
                            <input type="email" class="form-control" id="register__email" ng-model="vm.email" placeholder="ex. john@notgoogle.com" />
                        </div>

                        <div class="form-group">
                            <label for="register__username">{{'field.username'|i18n}}</label>
                            <input type="text" class="form-control" id="register__username" ng-model="vm.username" placeholder="ex. john" />
                        </div>

                        <div class="form-group">
                            <label for="register__password">{{'field.pass'|i18n}}</label>
                            <input type="password" class="form-control" id="register__password" ng-model="vm.password" placeholder="ex. thisisnotgoogleplus" />
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-primary blue">{{'btn.register'|i18n}}</button>
                        </div>
                    </form>
                    <div x-ng-if="vm.registerSuccess">
                        <h3>{{'msg.registerSucces.title'|i18n}}</h3>
                        <p>{{'msg.registerSucces.secr'|i18n}}</p>
                    </div>
                </div>
                <div class="card-content" x-ng-if="vm.loginRegister==2">
                    <span class="card-title">{{'field.remind'|i18n}}</span>
                    <form role="form" ng-submit="vm.remind()" x-ng-if="!vm.remindSuccess">
                        <div class="form-group">
                            <label for="register__email">{{'field.email'|i18n}}</label>
                            <input type="email" class="form-control" id="register__email" ng-model="vm.email" placeholder="ex. john@notgoogle.com" />
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-primary blue">{{'btn.confirm'|i18n}}</button>
                        </div>
                    </form>
                    <div x-ng-if="vm.remindSuccess">
                        <h3>{{'msg.remindSuccess.title'|i18n}}</h3>
                        <p>{{'msg.remindSuccess.secr'|i18n}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>