<div style="position: absolute; width: 100%; left: 0px;">
    <div class="row">
        <div class="col s12 m4 offset-m4">
            <div class="card hoverable">
                <div class="card-content">
                    <span class="card-title">{{'field.passremind'|i18n}}</span>
                    <form role="form" ng-submit="vm.remind()"  x-ng-if="!vm.passSuccess">

                        <div class="form-group">
                            <label for="register__password1">{{'field.pass'|i18n}}</label>
                            <input type="password" class="form-control" id="register__password1" ng-model="vm.password1" placeholder="ex. thisisnotgoogleplus" />
                        </div>
                        <div class="form-group">
                            <label for="register__password2">{{'field.pass2'|i18n}}</label>
                            <input type="password" class="form-control" id="register__password2" ng-model="vm.password2" placeholder="ex. thisisnotgoogleplus" />
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-primary blue">{{'btn.confirm'|i18n}}</button>
                        </div>
                    </form>
                    <div  x-ng-if="vm.passSuccess">
                        <p>{{'msg.passremind.success' | i18n}}</p>
                        <ceneter><a href="#" x-ng-click="vm.changetoLogin();" class="btn btn-primary blue">{{'field.login' |i18n}}</a></ceneter>
                    </div>
                </div>
                <div class="card-action red lighten-5" x-ng-if="vm.passErr">
                    <p>{{vm.errMsg|i18n}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
